<div id="use_terms" class="page">
  <section class="g_terms">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>شروط الاستخدام</h1>

          <p>
            <strong><u>شروط استخدام الموقع : </u></strong>
          </p>
          <p>أولا: التزام الموقع تجاه العميل :</p>
          <ol style="text-align: right; color: #aaa;">
            <li>
              عدم الكشف عن أي معلومات للعميل بشكل مباشر أو غير مباشر.
            </li>
            <li>
              تولى العناية الواجبة وفقا للمبادئ والتقاليد المهنية في تقديم المشورة القانونية ، بما
              يخدم مصالح العميل والمقصد الصحيح، والتي تدعمها الوثائق التي في حوزته.
            </li>
            <li>
              يقتصر دور الموقع على تقديم الاستشارات الإلكترونية أو صياغتها فقط، ولا يشمل التمثيل
              القضائي والإجرائي أمام أي جهة حكومية أو خاصة داخل المملكة أو خارجها، ما لم يختار
              العميل الخدمة.
            </li>
            <li>
              يلتزم الموقع بتقديم الخدمة للعميل لمدة أقصاها 10-25 يوم حسب كل خدمة تبدأ من استكمال
              المتطلبات.
            </li>
          </ol>
          <p>ثانيا: يلتزم العميل:</p>
          <ol style="text-align: right; color: #aaa;">
            <li style="text-align: right;">
              تزويد الموقع بجميع المستندات التي تثبت صحة المطالبة.
            </li>
            <li style="text-align: right;">
              دقة البيانات والوثائق التي يقدمها العميل للموقع ولا يتحمل الموقع أي عواقب إذا ثبت خلاف
              ذلك.
            </li>
            <li style="text-align: right;">
              لا يطلب من الموقع إعادة الصور من الوثائق الإلكترونية التي تم إرسالها.
            </li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</div>
