.modal-content input.ng-invalid.ng-touched {
  border: 1px solid red;
}

.modal-content h1 {
  color: #14cab4;
}

.active {
  color: white !important;
}

.modal-content input,
.modal-content select {
  outline: none;
  border: 1px solid #14cab4;
  height: 40px;
  width: 250px;
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  display: block;
  padding: 0px 10px 0px 10px;
}

.modal-content .cus_radio {
  outline: none;
  border: 1px solid #14cab4;
  height: 40px;
  width: 250px;
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  display: block;
  padding: 0px 10px 0px 10px;
  cursor: pointer;
}

.modal-content .sel {
  outline: none;
  background-color: #14cab4;
  border: 1px solid #14cab4;
  color: #fff;
  height: 40px;
  width: 250px;
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  display: block;
  padding: 0px 10px 0px 10px;
  cursor: default;
}

.modal-content h2 {
  font-size: 14px;
  color: #1a2431;
}

.modal-content input[type='radio'] {
  outline: none;
  border: 1px solid #14cab4;
  height: 5px;
  width: 5px;
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  display: block;
  padding: 0px 10px 0px 10px;
}

.modal-content input[type='checkbox'] {
  outline: none;
  border: 1px solid #14cab4;
  height: 5px;
  width: 5px;
  border-radius: 4px;
  margin: 0px 0px 20px 0px;
  display: block;
  padding: 0px 10px 0px 10px;
}

.modal-content label {
  outline: none;
  width: 250px;
  margin-top: 25px;
  display: block;
  padding: 0px;
  text-align: right;
}

.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 700px) {
  .modal-content {
    background-color: #fefefe;
    // margin: 70px auto 70px auto;
    border: 1px solid #888;
    width: 100%;
    padding: 30px;
  }

  .modal-content input {
    outline: none;
    border: 1px solid #14cab4;
    height: 40px;
    width: 200px;
    border-radius: 4px;
    margin: 0px 0px 20px 0px;
    display: block;
    padding: 0px 10px 0px 10px;
  }

  .modal-content label {
    outline: none;
    width: 250px;
    margin-top: 25px;
    display: block;
    padding: 0px;
    text-align: right;
  }
}

@media (max-width: 400px) {
  .logo {
    width: 210px;
  }
}
