<footer *ngIf="!admin">
  <div class="row">
    <div class="col-md-12">
      <div class="upper_footer">
        <div class="row">
          <div class="col-md-4">
            <h1>الخدمات</h1>

            <a routerLink="/services"><h2>خدمات قانونية</h2></a>
            <a routerLink="news"><h2>المدونة</h2></a>
          </div>

          <div class="col-md-4">
            <h1>عن الشركة</h1>

            <a routerLink="general_terms"><h2>الأحكام العامة</h2></a>
            <a routerLink="use_terms"><h2>شروط الإستخدام</h2></a>
            <a routerLink="privacy_policy"><h2>سياسة الخصوصية</h2></a>
          </div>

          <div class="col-md-4">
            <h1>لمحة</h1>

            <a routerLink="about_us"><h2>من نحن</h2></a>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-4 text-center mt-2">
      <!-- <a href="!!!https://facebook.com/mashurah_" target="_blank"
        ><img src="assets/img/icons/facebook.svg"
      /></a>
      <a href="!!!https://youtube.com/mashurah_" target="_blank"
        ><img src="assets/img/icons/youtube.svg"
      /></a> -->
      <a href="https://linkedin.com/mashurah_" target="_blank"
        ><img src="assets/img/icons/linkedin.svg"
      /></a>
      <a href="https://twitter.com/mashurah_" target="_blank"
        ><img src="assets/img/icons/twitter.svg"
      /></a>
    </div>

    <div class="col-12 col-md-4 mt-2">
      <h4>© Copyrights Mashurah. 2020. All Rights Reserved</h4>
    </div>

    <div class="col-12 col-md-4 text-center mt-2">
      <iframe src="https://maroof.sa/Business/GetStamp?bid=105171" style=" width: auto; height: 250px; overflow-y:hidden;  "  frameborder="0" seamless='seamless' scrollable="no"></iframe>
    </div>
  </div>
</footer>
