
     
      <div id="blog" class="page">
        <section class="who_are_we">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <h1>الأخبار</h1>
              </div>
              <section class="blog">
                <div class="container">
                  <div class="row">
                    <div class="col-md-4">
                        <div class="newsbox">
                          <div class="nb_top_2">
                      </div>
                      <div class="nb_bot">
                        <div class="title_blog">
                            <h2>تعرف على نظام التجارة الإلكترونية بالسعودية</h2>
                            </div>
                        <p>
                            وافق مجلس الوزراء خلال اجتماعه اليوم برئاسة خادم الحرمين
                            الشريفين الملك سلمان بن عبد العزيز، على أحكام نظام
                            التجارة الإلكترونية المتضمن 26 مادة
                        </p>
                        <a class="btn_2" href="javascript:one_page('blog')"
                          >أقرا المزيد</a
                        >
                      </div>
                      </div>
                    </div>

                    <div class="col-md-4">
                        <div class="newsbox">
                          <div class="nb_top_1">
                      </div>
                      <div class="nb_bot">
                        <div class="title_blog">
                            <h2>                        «العدل» تطلق مبادرة لإنشاء مراكز مناسبة لتنفيذ أحكام
                                الحضانة بدلاً من أقسام الشرطة</h2>
                            </div>
                        <p>
                            أعلنت وزارة العدل إقرار مبادرة «توفير مراكز تنفيذ أحكام
                            الحضانة والرؤية والزيارة بالتعاون مع القطاع غير الربحي»،
                            لحفظ خصوصية الأسرة وتفادي أي أضرار أو آثار نفسية
                            واجتماعية...
                        </p>
                        <a class="btn_2" href="javascript:one_page('blog')"
                          >أقرا المزيد</a
                        >
                      </div>
                      </div>
                    </div>

                    
                    <div class="col-md-4">
                      <div class="newsbox">
                        <div class="nb_top_1">
                    </div>
                    <div class="nb_bot">
                      <div class="title_blog">
                          <h2>«العدل» تجرّم العضل وتمنح المرأة حق الامتناع عن العودة إلى «بيت الطاعة»</h2>
                          </div>
                      <p>
                        أكدت وزارة العدل تصميمها على ضمان حقوق المرأة وعدم
                        المساس بمكتسباتها، وجددت التأكيد على منع التجاوز في حقها
                        بجوانب الزواج، والحضانة، والميراث، والنفقة، والدعاوى،
                        والخدمات العدلية، والوكالات، والدراسات العدلية.
                      </p>
                      <a class="btn_2" href="javascript:one_page('blog')"
                        >أقرا المزيد</a
                      >
                    </div>
                    </div>
                  </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </section>
      </div>