<div>
  <div id="index" class="page">
    <section class="hero">
      <div class="layer"></div>
    </section>

    <section class="key_services">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="box">
              <img src="assets/img/icons/scale.svg" />
              <h1>لديك مشكلة قانونية</h1>
              <p>
                مشورة تجيب على استشاراتك القانونية، عن طريق تسهيل التواصل مع المحامون والمستشارون
                القانونيون المتخصصون ذوي الخبرة؛ والذين يقدمون الخدمات القانونية المطلوبة بجودة
                عالية وأسعار مميزة وميسرة خلال وقت زمني بسيط
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <img src="assets/img/icons/user.svg" />
              <h1>محامي</h1>
              <p>
                مشورة أداة للتعريف بملفك الشخصي والمهني، كما تساعدك في عرض خدماتك الاستشارية
                والقانونية للأفراد والمنشآت الناشئة والكبيرة
              </p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="box">
              <img src="assets/img/icons/university.svg" />
              <h1>مكتب محاماة</h1>
              <p>
                مشورة أداة للتعريف بمكتب المحاماة وملفه المهني، وعرض خدماته الاستشارية والقانونية
                والقضائية لكل من الأفراد والمنشآت الناشئة والكبيرة
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="about_us">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="img_con">
              <img src="assets/img/bg_4.jpg" />
            </div>
          </div>

          <div class="col-md-8">
            <h1>
              عن مشورة
            </h1>
            <p>
              نحن منصة إلكترونية تجمع نخبة من المحامين والمستشارين القانونيين المتخصصين ذوي الخبرة،
              ونعتبر حلقة وصل تربط بين مقدمي الخدمات القانونية والعملاء بطريقة احترافية؛ وذلك سعياً
              منا لحصول عملائنا على خدمة عالية الجودة بسعر ميسر وبشكل احترافي مع تحقق كامل الأمان
              والسرية
            </p>

            <a class="btn_2" [routerLink]="['/about_us']" routerLinkActive="router-link-active"
              >المزيد</a
            >
          </div>
        </div>
      </div>
    </section>

    <section class="why_us">
      <div class="container">
        <h1>لماذا مشورة</h1>
        <div class="row">
          <div class="col-md-6">
            <div class="bar">
              <div class="row">
                <div class="col-sm-3">
                  <div class="bar_border">
                    <img src="assets/img/icons/users.svg" />
                  </div>
                </div>
                <div class="col-sm-9">
                  <h1>محامون متخصصون</h1>
                  <p>
                    مشورة تجمع نخبة من المحامين والمستشارين القانونيين ذوي الخبرة ليساعدوكم في تقديم
                    الاستشارات القانونية وإيجاد الحل القانوني المناسب للمشاكل التي تواجهكم
                  </p>
                </div>
              </div>
            </div>

            <div class="bar">
              <div class="row">
                <div class="col-sm-3">
                  <div class="bar_border">
                    <img src="assets/img/icons/phone.svg" />
                  </div>
                </div>
                <div class="col-sm-9">
                  <h1>سرعة التجاوب</h1>
                  <p>
                    جعلنا من سرعة التجاوب أحد أهم القواعد التي ننطلق من خلالها
                  </p>
                </div>
              </div>
            </div>

            <div class="bar">
              <div class="row">
                <div class="col-sm-3">
                  <div class="bar_border">
                    <img src="assets/img/icons/hand.svg" />
                  </div>
                </div>
                <div class="col-sm-9">
                  <h1>سعر رمزي</h1>
                  <p>
                    نمتاز في مشورة بتقديم كافة الخدمات القانونية بأسعار ثابتة ورمزية
                  </p>
                </div>
              </div>
            </div>

            <div class="bar">
              <div class="row">
                <div class="col-sm-3">
                  <div class="bar_border">
                    <img src="assets/img/icons/shield.svg" />
                  </div>
                </div>
                <div class="col-sm-9">
                  <h1>آمن وسري</h1>
                  <p>
                    نحقق لك في مشورة أعلى مستويات الأمان والسرية من بداية طلبك الخدمة وحتى إجراء
                    عملية الدفع, حماية معلوماتك وبياناتك الخاصة مسئوليتنا
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <img src="assets/img/bg_5.jpg" />
          </div>
        </div>
      </div>
    </section>

    <section class="services">
      <div class="container">
        <h1>الخدمات القانونية</h1>
        <div class="row">
          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/1']">
              <div class="sm_box br">
                <img src="assets/img/icons/comments.svg" />
                <h1>الاستشارات القانونية</h1>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/2']">
              <div class="sm_box dr">
                <img src="assets/img/icons/building.svg" />
                <h1>الشركات</h1>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/3']">
              <div class="sm_box br">
                <img src="assets/img/icons/contract.svg" />
                <h1>إعداد ومراجعة العقود</h1>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/4']">
              <div class="sm_box dr">
                <img src="assets/img/icons/copy.svg" />
                <h1>إعداد اللوائح والمذكرات</h1>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/5']">
              <div class="sm_box dr">
                <img src="assets/img/icons/brain.svg" />
                <h1>الملكية الفكرية</h1>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/6']">
              <div class="sm_box br">
                <img src="assets/img/icons/card.svg" />
                <h1>التأمين</h1>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/7']">
              <div class="sm_box dr">
                <img src="assets/img/icons/gavel.svg" />
                <h1>التقاضي</h1>
              </div>
            </a>
          </div>

          <div class="col-md-3 col-6">
            <a [routerLink]="['about_services/8']">
              <div class="sm_box br">
                <img src="assets/img/icons/globe.svg" />
                <h1>الترجمة القانونية</h1>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="container">
        <h1>الأخبار</h1>
        <div class="row">
          <div class="col-md-4">
            <div class="newsbox">
              <div class="nb_top_2"></div>
              <div class="nb_bot">
                <div class="title_blog">
                  <h2>تعرف على نظام التجارة الإلكترونية بالسعودية</h2>
                </div>
                <p>
                  وافق مجلس الوزراء خلال اجتماعه اليوم برئاسة خادم الحرمين الشريفين الملك سلمان بن
                  عبد العزيز، على أحكام نظام التجارة الإلكترونية المتضمن 26 مادة
                </p>
                <a class="btn_2">أقرا المزيد</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="newsbox">
              <div class="nb_top_1"></div>
              <div class="nb_bot">
                <div class="title_blog">
                  <h2>
                    «العدل» تطلق مبادرة لإنشاء مراكز مناسبة لتنفيذ أحكام الحضانة بدلاً من أقسام
                    الشرطة
                  </h2>
                </div>
                <p>
                  أعلنت وزارة العدل إقرار مبادرة «توفير مراكز تنفيذ أحكام الحضانة والرؤية والزيارة
                  بالتعاون مع القطاع غير الربحي»، لحفظ خصوصية الأسرة وتفادي أي أضرار أو آثار نفسية
                  واجتماعية...
                </p>
                <a class="btn_2">أقرا المزيد</a>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="newsbox">
              <div class="nb_top_1"></div>
              <div class="nb_bot">
                <div class="title_blog">
                  <h2>«العدل» تجرّم العضل وتمنح المرأة حق الامتناع عن العودة إلى «بيت الطاعة»</h2>
                </div>
                <p>
                  أكدت وزارة العدل تصميمها على ضمان حقوق المرأة وعدم المساس بمكتسباتها، وجددت
                  التأكيد على منع التجاوز في حقها بجوانب الزواج، والحضانة، والميراث، والنفقة،
                  والدعاوى، والخدمات العدلية، والوكالات، والدراسات العدلية.
                </p>
                <a class="btn_2">أقرا المزيد</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="start">
      <div class="container">
        <h1>
          فإن بحثت عن خدمة قانونية احترافية لاتعرف حدود الجغرافية فإن وجهتك هي مشورة
        </h1>

        <button type="button" class="btn_4" (click)="startNowButton()">
          ابدأ الآن
        </button>
      </div>
    </section>
  </div>
  <div id="app" class="page" style="display: none;">
    <form name="newReq">
      <div style="display: none;">
        <input type="text" id="service" name="service" />
        <!---input type="text" id="sub_service" name="sub_service" /--->
        <input type="text" name="status" value="new_req" />
        <input type="text" name="price" value="0" id="pricePure" />
        <input type="text" name="duration" value="0" />
        <input type="text" name="attach" id="attInput" value="" />
      </div>

      <section class="application">
        <div class="container">
          <div class="row">
            <div class="col-md-3">
              <div class="con_box" id="steps">
                <h1>الخطوات</h1>
                <img src="assets/img/icons/scale.svg" />
                <h2>اوصف مشكلتك</h2>
                <img class="down" src="assets/img/icons/down.svg" />
                <img src="assets/img/icons/users.svg" />
                <h2>ارسل طلبك</h2>
                <img class="down" src="assets/img/icons/down.svg" />
                <img src="assets/img/icons/comments.svg" />
                <h2>احصل على الرد</h2>
                <img class="down" src="assets/img/icons/down.svg" />
                <img src="assets/img/icons/copy.svg" />
                <h2>قيم محاميك</h2>
              </div>
            </div>
            <div class="col-md-9">
              <h1>الخدمات القانونية</h1>
              <div id="p0" class="app_box app" style="display: block;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>الجهة</h2>
                    <select style="width: 250px;" name="from">
                      <option value="فرد">
                        فرد
                      </option>
                      <option value="شركة">
                        شركة
                      </option>
                    </select>
                  </div>

                  <div class="col-md-12">
                    <a class="btn_6" href="javascript:app('p1', 'ops')">التالي</a>
                  </div>
                </div>
              </div>
              <div id="p1" class="app_box app" style="display: none;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>الدولة</h2>
                    <select style="width: 250px;" name="country">
                      <option value="المملكة العربية السعودية">المملكة العربية السعودية</option>
                    </select>
                  </div>
                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's1'); s_one();">
                      <div class="sm_box br">
                        <img src="assets/img/icons/comments.svg" />
                        <h1>الاستشارات القانونية</h1>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's2')"
                      ><div class="sm_box dr">
                        <img src="assets/img/icons/building.svg" />
                        <h1>الشركات</h1>
                      </div></a
                    >
                  </div>

                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's3')"
                      ><div class="sm_box br">
                        <img src="assets/img/icons/contract.svg" />
                        <h1>إعداد ومراجعة العقود</h1>
                      </div></a
                    >
                  </div>

                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's4')"
                      ><div class="sm_box dr">
                        <img src="assets/img/icons/copy.svg" />
                        <h1>إعداد اللوائح والمذكرات</h1>
                      </div></a
                    >
                  </div>

                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's5')">
                      <div class="sm_box dr">
                        <img src="assets/img/icons/brain.svg" />
                        <h1>الملكية الفكرية</h1>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's6')">
                      <div class="sm_box br">
                        <img src="assets/img/icons/card.svg" />
                        <h1>التأمين</h1>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's7')">
                      <div class="sm_box dr">
                        <img src="assets/img/icons/gavel.svg" />
                        <h1>التقاضي</h1>
                      </div>
                    </a>
                  </div>

                  <div class="col-md-3">
                    <a href="javascript:app('p2', 's8')">
                      <div class="sm_box br">
                        <img src="assets/img/icons/globe.svg" />
                        <h1>الترجمة القانونية</h1>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-12">
                    <a class="btn_3" href="javascript:app('p0', 'ops')">السابق</a>
                  </div>
                </div>
              </div>
              <div id="p2" class="app_box app" style="display: none;">
                <div class="row">
                  <div class="col-md-12">
                    <h2 id="s">الخدمة</h2>
                    <select id="pre" style="width: 250px; display: none;" onchange="s_one();">
                      <option>الخيارات</option>
                    </select>

                    <select id="s_ops" style="width: 250px;" name="sub_service">
                      <option>الخيارات</option>
                    </select>
                  </div>

                  <div class="col-md-12">
                    <a class="btn_3" href="javascript:app('p1', 'ops')">السابق</a>
                    <a class="btn_6" href="javascript:app('p3', 'ops')">التالي</a>
                  </div>
                </div>
              </div>
              <div id="p3" class="app_box app" style="display: none;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>نوع الاستشارة</h2>
                    <select id="s_typs" style="width: 250px;" name="service_type">
                      <option>الخيارات</option>
                    </select>
                  </div>

                  <div class="col-md-12">
                    <a class="btn_3" href="javascript:app('p2', 'ops');">السابق</a>
                    <a class="btn_6" href="javascript:app('p4', 'ops'); oneTimeCons();">التالي</a>
                  </div>
                </div>
              </div>
              <div id="p4" class="app_box app" style="display: none;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>الخدمة</h2>
                    <select id="urgent" style="width: 250px;" name="service_time">
                      <option>الخيارات</option>
                    </select>
                  </div>

                  <div class="col-md-12">
                    <a class="btn_3" href="javascript:app('p3', 'ops')">السابق</a>
                    <a class="btn_6" href="javascript:app('p5', 'ops'); revPrice();">التالي</a>
                  </div>
                </div>
              </div>
              <div id="p5" class="app_box app" style="display: none;">
                <div class="row rev">
                  <h3>استناداً إلى معلوماتك، نعتقد أنك قد تكون مهتماً بـ:</h3>
                  <div class="col-6">
                    <h3>الطلب</h3>
                    <h4 id="rev_s"></h4>
                    <h4 id="rev_type"></h4>
                    <h4 id="rev_urg"></h4>
                  </div>
                  <div class="col-6">
                    <h3>السعر</h3>
                    <h4 id="price">0.00 ريال سعودي</h4>
                  </div>
                  <div class="col-md-12">
                    <h3>تفاصيل الخدمة</h3>
                    <p id="rev_head">وصف الخدمة</p>

                    <h3>كيف تعمل الخدمة:</h3>
                    <div id="rev_how">
                      الخطوات
                    </div>
                  </div>
                  <div class="col-12">
                    <h3>يتضمن العرض:</h3>
                    <div id="rev_includes">
                      الخدمة
                    </div>
                  </div>

                  <div class="col-12">
                    <h3>لا يتضمن العرض:</h3>
                    <div id="rev_not_in">
                      الخدمة
                    </div>
                  </div>
                  <div class="col-12">
                    <h3 id="rev_why_head" style="display: none;">لماذا تكون مهتماً</h3>
                    <div id="rev_why">
                      مزيد من التفاصيل
                    </div>
                  </div>
                  <div class="col-md-12" style="padding-top: 20px;">
                    <a class="btn_3" href="javascript:app('p4', 'ops')">السابق</a>
                    <a class="btn_6" href="javascript:app('p6', 'ops');">التالي</a>
                  </div>
                </div>
              </div>
              <div id="p6" class="app_box app" style="display: none;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>اوصف مشكلتك</h2>
                    <h3>يرجى كتابة مشكلتك القانونية بشكل مفصل:</h3>
                    <textarea name="describe"></textarea>
                  </div>
                  <div class="col-md-12">
                    <h2>المرفقات</h2>
                  </div>
                  <div class="col-md-6">
                    <h3>ملف 1</h3>
                    <p id="attach1Cap"></p>
                    <input type="file" id="attach1" upload="false" onChange="uploadFiles();" />
                    <h3>ملف 2</h3>
                    <p id="attach2Cap"></p>
                    <input type="file" id="attach2" upload="false" onChange="uploadFiles();" />
                  </div>
                  <div class="col-md-6">
                    <h3>ملف 3</h3>
                    <p id="attach3Cap"></p>
                    <input type="file" id="attach3" upload="false" onChange="uploadFiles();" />
                    <h3>ملف 4</h3>
                    <p id="attach4Cap"></p>
                    <input type="file" id="attach4" upload="false" onChange="uploadFiles();" />
                  </div>
                </div>
                <div class="col-md-12">
                  <a class="btn_3" href="javascript:app('p5', 'ops')">السابق</a>
                  <a class="btn_6" href="javascript:uploadFiles();app('p7', 'ops')">التالي</a>
                </div>
              </div>
              <div id="p7" class="app_box app" style="display: none;">
                <div class="row">
                  <div class="col-md-12">
                    <h2>معلوماتك</h2>
                    <label>الاسم</label>
                    <input type="text" name="name" />
                    <label>البريد الالكتروني</label>
                    <input type="email" id="vemail" name="email" oninput="validate();ch();" />
                    <label>الجوال</label>
                    <input type="number" id="vmobile" name="mobile" oninput="validate();ch();" />
                  </div>

                  <div class="col-md-12">
                    <div id="navBtnBox">
                      <a class="btn_3" href="javascript:app('p6', 'ops')">السابق</a>
                      <button
                        id="submit_button"
                        type="button"
                        class="btn_6"
                        disabled
                        onclick="ch(); loadDoc();"
                      >
                        تم
                      </button>
                    </div>
                    <div id="loader" style="display:none;">
                      <div class="lds-circle">
                        <div></div>
                      </div>
                    </div>
                    <div id="newReqResBox" style="display: none;">
                      <a href="#" class="btn_6" id="newReqRes"></a>
                      <h2>قم بإنشاء حساب او تسجيل الدخول لتتبع طلبك</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </form>
  </div>
</div>
