<div id="msp1" class="page">
    <section class="who_are_we">
      <div class="container">
        <div class="row">
          <div *ngIf = "about_servic ==='1'" class="col-md-12">
            <h1>الإستشارات القانونية</h1>
            <p>
              تجمع مشورة نخبة من المحامين والمستشارين القانونين المتخصصين في
              تقديم مجموعة شاملة من الاستشارات القانونية والشرعية والتي
              تشمل:
            </p>
            <p>
              – الإدارية
              <br />
              – الجنائية
              <br />
              – الأحوال الشخصية
              <br />
              – العمالية
              <br />
              – التجارية
              <br />
              – المدنية
              <br />
              – المالية
            </p>
            <p>
              ويمتاز هؤلاءالمحامون والمستشارون القانونيون بخبرة واسعة لتقديم
              المشورة اللازمة من خلال الفهم الراسخ والمعرفة الوافية بالبيئة
              القانونية والتنظيمية المحلية التي تسمح لهم عند دمجها من تقديم
              استشارات قانونية تتمتع بكونها الأكثر فاعلية من حيث التكلفة وفي
              ذات الوقت تضمن تحقيق الأهداف القانونية المرجوة.
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
          
          
          <div *ngIf = "about_servic ==='2'" class="col-md-12">
            <h1>الشركات</h1>
            <p>
                تجمع مشورة.تك نخبة من المحامين والمستشارين القانونين المتخصصين
                الذين يمتلكون خبرة كافية في تأسيس الشركات وهيكلتها وتقديم حل
                متكامل ومشورة قانونية عملية للعملاء بشأن الصورة المثلى لتأسيس
                جميع أنواع الشركات وهيكلتها، بما في ذلك التأسيس وما يطرأ عليها
                من تعديل بدخول أو خروج شريك وزيادة أو إنقاص في رأس المال
                لتحقيق الاستراتيجيات التجارية والاقتصادية المرجوة، والعمل في
                مجالات إعادة تنظيم وإعادة هيكلة الشركات، وإعداد ومراجعة جميع
                المستندات اللازمة والخاصة في الشركات .
            </p>
            <p>
                <b>تشمل الخدمة الشركات التالية :</b>
                <br />
                – شركات التضامن
                <br />
                – شركات التوصية البسيطة
                <br />
                – شركات المحاصة
                <br />
                – شركات المساهمة
                <br />
                – الشركات ذات المسؤولية المحدودة
                <br />
                – شركة الشخص الواحد
                <br />
                <b>ومن خدمات الحوكمة :</b>
                <br />
                – حوكمة مجلس الإدارة
                <br />
                – حوكمة لجنة المراجعة
                <br />
                – حوكمة لجنة المكافآت
                <br />
                – حوكمة لجنة الترشيحات
                <br />
                – حوكمة لجنة إدارة المخاطر وغيرها من اللجان والإدارات.
                <br />
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
          
          
          <div *ngIf = "about_servic ==='3'" class="col-md-12">
            <h1>إعداد ومراجعة العقود</h1>
            <p>
                تجمع مشورة نخبة من المحامين والمستشارين القانونين المتخصصين في
                صياغة العقود بأنواعها ومراجعتها وتدقيقها وتصحيحها وجميع ما يخص
                العقود.
            </p>
            <p>
                <b>ومنها :</b>
                <br />
                – صياغة العقود المدنية وتشمل : صياغة عقد البيع ، صياغة عقد
                القرض صياغة عقد الايجار وغيرها
                <br />
                – صياغة العقود التجارية وتشمل : صياغة عقد الشراكة بأنواعها
                وغيرها
                <br />
                – صياغة العقود الإدارية وتشمل : صياغة عقد التوريد و صياغة عقد
                الأشغال العام وغيره.
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
          
          
          <div *ngIf = "about_servic ==='4'" class="col-md-12">
            <h1>إعداد اللوائح والمذكرات</h1>
            <p>
                تجمع مشورة.تك نخبة من المحامين والمستشارين القانونين المتخصصين
                في صياغة اللوائح والمذكرات الجوابية والاعتراضية بأنواعها
                ومراجعتها وتدقيقها وتصحيحها وجميع ما يخصها .
            </p>
            <p>
                <b>ومنها :</b>
                <br />
                – لائحة الدعوى ( والتي يتم إعدادها من قبل المدعي لتقدم في
                الجلسة الأولى )
                <br />
                – المذكرات الجوابية ( وهي المذكرات التي تقدم خلال الجلسات من
                قبل المدعي والمدعى عليه )
                <br />
                – المذكرات الاعتراضية ( هي المذكرات التي تقدم لمحكمة الاستئناف
                )
                <br />
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
          
          
          <div *ngIf = "about_servic ==='5'" class="col-md-12">
            <h1>الملكية الفكرية</h1>
            <p>
                تجمع مشورة.تك نخبة من المحامين والمستشارين القانونين المتخصصين
                لتقديم كافة الخدمات القانونية المتعلقة بالملكية الفكرية
                ويمتازون بالقدرات الاستشارية والتجارية والتفاوضية، لتقديم
                الخدمات القانونية في مجالات منها:
            </p>
            <p>
                – تسجيل الملكيات الفكرية
                <br />
                – حقوق الطبع والنشر
                <br />
                – العلامات التجارية
                <br />
                – براءات الاختراع
                <br />
                – الفرنشايز
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
          
          
          <div *ngIf = "about_servic ==='6'" class="col-md-12">
            <h1>التأمين</h1>
            <p>
                تجمع مشورة.تك نخبة من المحامين والمستشارين القانونين المتخصصين
                في تقديم الاستشارات والخدمات في كافة أنواع التأمين وفقاً
                للقوانين واللوائح المختصة بالتأمين داخل المملكة العربية
                السعودية وكذلك من الناحية الإجرائية حول وثائق التأمين وحدود
                التغطية التأمينية والأخطار المستثناة من التأمين، وكافة ما
                يتعلق في النزاعات الناشئة عن تطبيق عقود التأمين، والخطوات التي
                يجب إتباعها عند تقديم شكوى أو دعوى ضد شركة تأمين .
            </p>
            <p>
                <b>وتشمل :</b>
                <br />
                – تأمين الممتلكات
                <br />
                – تأمين طبي
                <br />
                – تأمين الحوادث
                <br />
                – تأمين الحرائق
                <br />
                – تأمين آخر .
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
          
          
          <div *ngIf = "about_servic ==='7'" class="col-md-12">
            <h1>التقاضي</h1>
            <p>
                الخدمة غير متوفرة الآن.
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
          
          
          <div *ngIf = "about_servic ==='8'" class="col-md-12">
            <h1>الترجمة القانونية</h1>
            <p>
                الترجمة فنّ لايتقنه كل من يتحدّث باللغة الإنجيليزية، اذ أنها
                تختلف الترجمات على حسب المستندات المترجمة فمنها عقود قانونية
                أو مالية أو محاسبية ومشورة.تك تؤكد على وجود فريق مختص ومؤهل
                وذو خبرة عالية لتلبية احتياجاتكم الترجمية باللغة الانجليزية
                أوالعربية.
            </p>
            <a class="btn_3" routerLink="/">العودة</a>
            <div class="divider"></div>
            <a class="btn_6" routerLink="/services">ابدأ الآن</a>
          </div>
        </div>
      </div>
    </section>
  </div>