<div id="privacy_policy" class="page">
  <section class="g_terms">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>سياسة الخصوصية</h1>

          <p>
            <strong><u>سياسة الخصوصية </u></strong>
          </p>
          <p>
            سياسة الخصوصية هذه تحكم جمع وتخزين واستخدام البيانات الواردة من خلال موقعنا ……………….،
            المشار إليه فيما يلي باسم “المنصة” أو “مشورة”. تم استخدام مصطلحي “أنت” و “الخاص بك”
            لتمثيل مستخدم النظام الأساسي. يرجى ملاحظة أن الشروط والأحكام الواردة هنا تنطبق بالتساوي
            على كل من صيغة المفرد والجمع للشروط المحددة. كلما تطلب السياق.
          </p>
          <p>
            باستخدام المنصة، فإنك توافق على الالتزام بأحدث إصدار من سياسة الخصوصية هذه والتي نقوم
            بتحديثها من وقت لآخر. يتم توفير رقم الإصدار وتاريخ آخر تحديث في الزاوية …………………… من هذه
            الصفحة. يمكننا تحديث سياسة الخصوصية دون أي إشعار مسبق. مطلوب منك الاستمرار في زيارة هذه
            الصفحة على فترات منتظمة للتأكد من أنك على دراية بالتحديثات أو التغييرات التي أدخلت على
            سياسة الخصوصية هذه (إن وجدت). قد تتلقى رسالة منا عندما يتم تحديث سياسة الخصوصية أو شروط
            أخرى. قد ننشر أيضا إشعارا على المنصة بشأن أي تغيير يتم إجراؤه على سياسة الخصوصية هذه أو
            أي شروط أخرى.
          </p>
          <p>
            إذا كنت تستخدم المنصة، فسوف تشارك بمعلوماتك الشخصية وبعض المعلومات غير الشخصية معنا. يتم
            جمع كل هذه المعلومات من خلال المنصة التي يمكنك زيارتها إما بشكل مباشر أو غير مباشر (من
            خلال الإعلانات أو الارتباطات التشعبية). تحكم سياسة الخصوصية هذه جمع وتخزين واستخدام
            المعلومات الشخصية وغير الشخصية التي تشارك بها، بما في ذلك المعلومات الشخصية وغير الشخصية
            لأي شخص آخر (على سبيل المثال الممثلين أو الموظفين) المرتبطين بك. يرجى ملاحظة أن جميع
            المستخدمين المباشرين أو غير المباشرين للمنصة يكونون ملزمين بشروط سياسة الخصوصية هذه،
            ويوافقون صراحة على جمع وتخزين واستخدام معلوماتهم الشخصية وغير الشخصية حسب الحالة. تنطبق
            سياسة الخصوصية هذه أيضا على جميع المعلومات التي تشاركها في شكل إلكتروني ومادي. بعد قراءة
            هذه السياسة سوف تتمكن من معرفة كيف نجمع ونخزن ونستخدم معلوماتك الشخصية، والتجارية وغير
            الشخصية.
          </p>
          <p>
            تدرك مشورة أهمية خصوصية معلوماتك الشخصية، وهو مصمم على حماية خصوصيتك. لقد اعتمدنا سياسة
            الخصوصية هذه لشرح كيفية قيام مشورة بجمع وتخزين واستخدام معلوماتك الشخصية وغير الشخصية
            التي يتم جمعها منك فيما يتعلق باستخدامك للمنصة. نوصيك بقراءة سياسة الخصوصية هذه بعناية
            قبل استخدام المنصة.
          </p>
          <p>
            يرجى ملاحظة أنه إذا كنت تستخدم المنصة، فإنك توافق صراحة على جمع وتخزين واستخدام معلوماتك
            الشخصية وغير الشخصية بالطريقة المنصوص عليها في هذه الوثيقة. إذا كنت تستخدم المنصة، فإنك
            توافق على أنك قد قرأت وفهمت وقبلت البنود والشروط الواردة في سياسة الخصوصية هذه، وأنك قد
            أعطيت موافقتك على جمع وتخزين واستخدام معلوماتك الشخصية والتجارية وغير الشخصية. في حالة
            عدم موافقتك على أي من البنود الواردة في سياسة الخصوصية هذه أو عدم رضاك ​​عن أي من
            التغييرات أو التعديلات أو التحديثات اللاحقة، يمكنك التوقف عن استخدام المنصة.
          </p>
          <p>
            هذه المنصة غير متاحة لشخص لا يستطيع أن يعقد عقدا ملزما قانونا. مع إشارة محددة إلى حماية
            البيانات للأطفال، باستخدام المنصة، فإنك تقر بأنك لست قاصرا. في حال لاحظنا أن قاصر يدخل
            على المنصة، قد نقوم بحذف معلوماته / معلوماتها على الفور دون أي إشعار مسبق. إذا كنت شركة،
            فإنك تقر بأن المعلومات الشخصية للممثل الذي تشاركها معنا تتم مشاركتها بالإذن الواجب من
            ذلك الممثل. يرجى ملاحظة أنك لن تضر بنا في حالة أي نزاع أو إجراءات قانونية قد يقوم بها
            ممثلك فيما يتعلق بمشاركة بياناته الشخصية.
          </p>
          <p>
            <strong><u>أنواع المعلومات التي تجمعها مشورة :</u></strong>
          </p>
          <p>معلومات شخصية :</p>
          <p>‌أ. في وقت التسجيل:</p>
          <p>
            نقوم بجمع معلوماتك الشخصية في الوقت الذي تسجل فيه معنا وفي مناسبات متعددة كما هو موضح
            أدناه. تتضمن المعلومات الشخصية معلومات مثل رقم بطاقة الائتمان والاسم الكامل وتاريخ
            الميلاد وتفاصيل الاتصال وعنوان المنزل. ننصحك بعدم مشاركة معلوماتك الشخصية في الدردشة أو
            التعليقات أو في أي مكان على المنصة ما لم يكن ذلك بطلب منا على وجه التحديد بما يتماشى مع
            سياسة الخصوصية. قد یطلب منك محام مسجل في ھذه المنصة أیضا مشارکة معلوماتك الشخصیة عندما
            ترغب في إنشاء علاقة بین المحامي و العميل أو تطرح سؤال من خلال المنصة. لكن أي معلومات
            خارج الموقع يجمعها المحامي المسجل ليست ضمن اختصاصنا لأنك تشاركها مباشرة مع المحامي دون
            المرور عبر ھذه المنصة .
          </p>
          <p>
            ‌ب. إذا قمت بالاشتراك في نشراتنا الإخبارية أو الوصول إلى دعمنا:
          </p>
          <p>
            يمكنك أيضا مشاركة معلوماتك الشخصية إذا قمت بالاشتراك في نشرتنا الإخبارية، أرسلت لنا
            رسالة، أو طلبت أي دعم تقني. في هذه الحالة، إذا قمت بالاشتراك في نشرتنا الإخبارية، نقوم
            بجمع معرف بريدك الإلكتروني واسمك. في حالة الدعم الفني، يمكنك مشاركة معرف بريدك
            الإلكتروني وتفاصيل الاتصال معنا. حسب طبيعة المشكلة، قد نطلب منك تقديم بعض المعلومات
            الإضافية مثل طباعة شاشة للمشكلة أو عنوان ال IP الخاص بك أو تفاصيل مقدم خدمة الإنترنت
            وسرعة البيانات.
          </p>
          <p>‌ج. تفاصيل الدفع أو المعلومات المالية:</p>
          <p>
            مع الإشارة تحديدا إلى تفاصيل الدفع، يرجى ملاحظة أننا لا نقوم بتخزين تفاصيل بطاقتك. تتم
            معالجة جميع المدفوعات من خلال بوابات الدفع من طرف ثالث مثل ………………………..تستخدم كل بوابات
            الدفع هذه التابعة لطرف ثالث تقنية طبقة المنافذ الآمنة (SSL) للحفاظ على تفاصيل حسابك
            المصرفي وبطاقاتك بعيدة عن أي وصول أو استخدام غير مصرح به. مع ذلك، قد تخزن بوابات الدفع
            بعض المعلومات اللازمة لمعالجة عمليات رد الأموال أو الإلغاء أو رد المبالغ المدفوعة. في
            حالة المبالغ المستردة والإلغاء، يتم إعادة الدفعة إلى الحساب المصرفي أو البطاقة التي تم
            من خلالها الدفع بواسطة المستخدم. قد تقوم بوابات الدفع بتخزين المعرفات الخاصة بالمعاملات
            لتحديد المعاملات التي تقوم بها ومعالجة المبالغ المستردة. لإزالة الشك، نوضح أن مصطلح
            “الدفع” في هذه الوثيقة يعني المبلغ المدفوع لمشورة. لا يشمل ذلك أي دفع أخر يتقاضاه أحد
            المحامون المسجلون يتم خارج المنصة .
          </p>
          <p>‌د. من مصادر أخرى:</p>
          <p>
            قد نتلقى معلوماتك من بعض المصادر الأخرى. تشمل هذه المصادر شركاتنا الشريكة أو الشركات
            الزميلة أو الشركات التابعة أو شركات الإعلان أو أطراف ثالثة مستقلة أخرى.
          </p>
          <p>‌ه. وسيلة الاتصالات:</p>
          <p>
            قد نوفر وسيلة اتصالات في الموقع وخارج الموقع. قد نقوم بالاتصال لمراجعة المحتويات التي
            قمت بمشاركتها مثل تفاصيل الاتصال البديلة أو أية مشكلة محددة ذكرتها.
          </p>
          <p>المعلومات غير الشخصية:</p>
          <p>
            بالإضافة إلى معلوماتك الشخصية، نقوم أيضا بجمع بعض المعلومات غير الشخصية منك. لا يمكن
            استخدام المعلومات غير الشخصية لتعريفك كفرد. سجلات الأخطاء وعنوان ال IP الخاص بك وتقرير
            التحليلات وتقارير الأعطال تمثل بعض الأمثلة على المعلومات غير الشخصية التي نجمعها من
            مستخدمينا. أي معلومات تم جمعها منك، باستثناء المعلومات التي يمكن استخدامها للتعرف عليك
            كفرد حي، هي معلومات غير الشخصية. هي أساسا السجلات والتقارير التي لا تحدد شخصيتك كفرد. قد
            نقوم أيضا بجمع بعض المعلومات غير الشخصية من خلال الاستبيانات أو الاستطلاعات التي تستهدف
            مستخدمينا.
          </p>
          <p>الاستخدام والإفصاح:</p>
          <p>3/1 الاستخدامات</p>
          <p>
            ‌أ. الخدمات التي نقدمها: المعلومات، مثل اسمك الكامل، عنوان، تفاصيل الاتصال، عنوان ويب
            إلخ، مطلوبة لإدارة الخدمات التي نقدمها لك. تساعدنا معلوماتك الشخصية في التواصل معك وفهم
            متطلباتك وتحديد المشكلات الفنية إن وجدت وتقديم الدعم والمساعدة في إصلاح المشاكل الفنية
            وإدارة جلسات المستخدمين. يرجى ملاحظة أن خدماتنا هي لتسهيل استخدام المنصة فقط. نحن لسنا
            شركة محاماة.
          </p>
          <p>
            ‌ب. التسجيل: يتم استخدام معلوماتك الشخصية لإدارة ملفك الشخصي على المنصة. يشار إلى
            البيانات المقدمة في وقت التسجيل باسم بيانات التسجيل. كما نستخدم بيانات التسجيل لمصادقة
            حسابك.
          </p>
          <p>
            ‌ج. الاتصال: نستخدم تفاصيل الاتصال الخاصة بك للتواصل معك بخصوص خدماتنا وأنشطتك على
            المنصة. قد نرسل لك أيضا تفاصيل أفضل العروض أو الصفقات التي قد تهمك.
          </p>
          <p>
            ‌د. مساعدتك في حالة المشاكل التقنية: قد نستخدم اسمك وتفاصيل الاتصال لمساعدتك في حالة
            المشاكل الفنية أو أي نوع من المساعدة التي قد تبحث عنها. يرجى ملاحظة أننا قد نقوم بتوظيف
            مقدمي خدمة عملاء طرف ثالث لهذا الغرض. يرجى الرجوع إلى جزء الكشف عن البيانات في سياسة
            الخصوصية هذه للحصول على مزيد من التفاصيل.
          </p>
          <p>
            ‌ه. التحليلات: يتم استخدام معلوماتك الشخصية وغير الشخصية أيضا لإجراء بعض الحسابات
            الخلفية مثل إدارة الزيارات على موقعنا الإلكتروني وتطوير التحديثات وإدارة جلسات المستخدم
            وتذكر التفضيلات وتطوير الحل للمشكلات التي يواجهها المستخدمون والقيام بتحليل السجلات
            لتكوين رأي حول التحديثات المحتملة إلخ. قد نستخدم أدوات طرف الثالث أو برامج تحليل لجمع
            واستخدام بعض البيانات غير الشخصية تلقائيا والتي لا تمكننا مباشرة من التعرف عليك.
          </p>
          <p>
            ‌و. أبحاث السوق: يمكن استخدام معلوماتك الشخصية وغير الشخصية لإجراء أبحاث السوق. قد نرسل
            لك بعض الاستبيانات أو الاستطلاعات للحصول على رأيك حول منتجاتنا وخدماتنا. قد نستخدم
            تقارير أبحاث السوق في تطوير المنصة وتحسينها.
          </p>
          <p>
            ‌ز. بالإضافة إلى ما تقدم، يمكننا استخدام معلوماتك، من بين أمور أخرى، في إعداد التقارير
            والتحليلات واتخاذ القرارات وإعداد الاستبيانات والمسوحات والإدارة الداخلية والعمل الإداري
            وتحسين المحتوى وتقديم خصومات والتعامل مع طلبات الإلغاء والتعامل مع عمليات رد الأموال
            وتحديد اهتماماتك وإدارة المهام ووضع الجداول الزمنية والاقتراحات التلقائية وتوليد نتيجة
            البحث واكتشاف العملاء المحتملين ومنح العروض الخاصة والترويج الخ.
          </p>
          <p>
            ‌ح. فرض أحكامنا وشروطنا: قد نحتاج أحيانا إلى استخدام معلوماتك لفرض الأحكام والشروط. يمكن
            أيضا استخدام معلوماتك لفرض التزاماتك بموجب سياسة الخصوصية هذه. يمكن استخدام بعض
            المعلومات في الإجراءات القانونية و / أو الامتثال للقوانين السارية وكذلك في عملية تسوية
            المنازعات.
          </p>
          <p>3/2.الكشف عن معلوماتك:</p>
          <p>
            ‌أ. يتم الكشف عن معلوماتك الشخصية مع المحامي المسجل الذي اخترت التعامل معه. يمكنك أيضا
            مشاركة معلوماتك خارج هذا الموقع. لكن لن يتم تغطيتها بموجب سياسة الخصوصية هذه.
          </p>
          <p>
            ‌ب. لقد اعتمدنا مبادئ توجيهية صارمة لمعالجة البيانات لضمان أن تظل كل الأيدي غير المصرح
            بعيدة عن معلوماتك. يحتاج أعضاء فريقنا أو الخبراء إلى معلوماتك لمعرفة المزيد عنك وموقعك
            الإلكتروني وتحديد حجم العمل وإعداد جدول زمني ووضع مراحل المشروع وإعداد مخطط انسيابي ووضع
            قائمة المتطلبات الخ.
          </p>
          <p>
            ‌ج. يجب على مقدمي الخدمات من طرف ثالث مثل بوابات الدفع والفاحصين وأجهزة الاتصال عن بعد،
            ومواقع التصنيف أيضا معرفة معلوماتك في حال تعيينهم. يحتاج مندوبو المبيعات الهاتفية إلى
            معرفة معلوماتك مثل تفاصيل الاتصال الخاصة بك لإجراء اتصال معك بخصوص خدمات العملاء. قد
            نقوم أيضا بتوظيف مقدمي خدمات عملاء مستقلين أو مقدمي خدمات تقنية. يمكن لمقدمي خدمة
            العملاء الاتصال بك فيما يتعلق بأي مشكلة فنية قد تواجهها. يجوز لنا أيضا مشاركة بعض
            المعلومات غير الشخصية مع مواقع إلكترونية طرف ثالث أو وكالات إعلان والتي من خلالها تمت
            إعادة توجيهك إلى موقعنا الإلكتروني. تجدر الإشارة إلى أننا قد نتيح خدمات وكالات الإعلان
            كترويج لعرض الإعلانات نيابة عنا.
          </p>
          <p>
            ‌ه. يرجى ملاحظة أننا لا نبيع أو نتاجر بناء على المعلومات الشخصية لمستخدمينا. في بعض
            الظروف، قد نحتاج إلى الكشف عن معلوماتك الشخصية ردا على أمر قضائي أو أمر محكمة. يجوز لنا
            أيضا الكشف عن معلوماتك الشخصية إلى الحكومة أو المحكمة أو الشرطة أو غيرها من الجهات
            المختصة إذا كانت مطلوبة من قبلهم فيما يتعلق بالكشف عن الاحتيال أو الأنشطة الإجرامية. يتم
            الإفصاح عن معلوماتك الشخصية بحسن نية إذا كانت المعلومات المطلوبة بموجب هذا القسم مطلوبة
            بطريقة مبررة من الطرف الطالب.
          </p>
          <p>
            ‌و. أنت توافق وتفهم أن المعلومات التي تشاركها معنا قد يتم تحويلها إلى أطراف ثالثة أخرى
            نتيجة لاندماج الشركات أو توحيدها أو إعادة هيكلتها أو البيع سواء كان جزئيا أو كليا. مع
            ذلك، تظل سياسة الخصوصية هذه سارية وتستمر في حماية معلوماتك.
          </p>
          <p>3/3 الاحتفاظ بالبيانات:</p>
          <p>
            ‌أ. نحن نحتفظ بالمعلومات التي تقدمها لنا طالما بقيت مسجلا معنا أو استخدمت خدماتنا.
            سنحتفظ بالمعلومات للوقت اللازم لتنفيذ خدماتنا ما لم يتطلب الأمر فترة أطول. يجوز لنا
            الاحتفاظ بمعلوماتك الشخصية لفترة أطول في حالة حدوث أي نزاعات مهما كانت طبيعتها حتى حلها.
          </p>
          <p>
            ‌ب. يمكنك أن تطلب منا حذف معلوماتك الشخصية من خادمنا عن طريق إرسال رسالة كتابية على
            العنوان المنشور على موقعنا. قد نطلب منك تقديم تصريح ذاتي أو شهادة مكتوبة في هذا الصدد.
            بمجرد أن يتم حذف معلوماتك الشخصية، سيتم إلغاء تسجيلك معنا تلقائيا. يجوز لنا الاحتفاظ
            بنسخة من هذه الطلبات للوفاء بالالتزامات القانونية.
          </p>
          <p>
            ‌ج. بمجرد إلغاء تسجيلك معنا و / أو حذف حسابك، يتم حذف معلوماتك الشخصية من خادمنا. مع
            ذلك، قد تبقى بعض المعلومات مثل المراجعات والتقييمات وبعض المعلومات غير الشخصية لدينا.
            أنت تدرك وتوافق على أن الإزالة الكاملة للمراجعات أو التقييمات أو مشاركات المنتدى قد لا
            تكون ممكنة بالنسبة لنا.
          </p>
          <p>التحليلات:</p>
          <p>
            يستخدم مشورة تحليلات غوغل لفهم حركة المرور على المنصة وإدارتها. قد نستخدم أيضا مقدمي
            خدمات من طرف ثالث لتشغيل التحليلات على المنصة كجزء من التخطيط الاستراتيجي لتحسين كفاءتها
            ورضا المستخدمين. تستند وظائف التحليلات أساسا إلى المعلومات غير الشخصية وهي أساسا ذات
            طابع تحليلي. ومع ذلك، إذا لزم الأمر، سنستخدم أيضا معلوماتك الشخصية للدراسات التحليلية.
            تشكل التحليلات جزءا من تحليل أعمالنا وعملياتنا وذكاء الأعمال وتطوير المنتجات والتحسين
            والتسويق.
          </p>
          <p>5- ملفات تعريف الارتباط وحشرات الويب والتتبع</p>
          <p>
            5/1نحن نستخدم ملفات تعريف الارتباط (………………..) وحشرات الويب…………………) على المنصة لجمع بعض
            المعلومات غير الشخصية مثل عنوان ال IP الخاص بك ونوع متصفح الإنترنت وتاريخ ووقت زيارتك
            واللغة المفضلة إلخ. ملفات تعريف الارتباط هي ملفات نصية صغيرة مع علامات هوية يتم نقلها
            عبر متصفح الإنترنت ثم تخزينها على تخزين جهازك أو الجهاز المحمول. يتم إنشاؤها ونقلها في
            الوقت الذي تزور المنصة أو أي موقع آخر يستخدم ملفات تعريف الارتباط لتتبع معلومات
            المستخدم. يتم استخدامها لجمع المعلومات غير الشخصية مثل تاريخ ووقت زيارتك واختيار اللغة
            وتفضيلاتك. هناك نوعان من ملفات تعريف الارتباط امستخدمة في المنصة أ) ملفات تعريف الارتباط
            من مشورة؛ ب) ملفات تعريف الارتباط من مواقع طرف ثالث. تشمل الأطراف الثالثة معلن أو مواقع
            ويب مرتبطة أو الشركات الشريكة التي تستخدم ملفات تعريف الارتباط على مواقعها الإلكترونية.
          </p>
          <p>
            5/2 ملفات تعريف ارتباط الجلسة مهمة جدا بالنسبة لنا للمساعدة في ضمان استخدام المنصة
            بسهولة. ملفات تعريف ارتباط الجلسة تحددك كمستخدم واحد عندما تقوم بتصفح صفحات مختلفة على
            المنصة. إذا لم يكن لدينا ملفات تعريف ارتباط الجلسة، فإن المنصة سوف تتعرف عليك كمستخدم
            جديد على كل صفحة مختلفة تدخلها. قد يطلب منك أيضا تقديم نفس المعلومات مرارا وتكرارا في
            غياب ملفات تعريف ارتباط الجلسة. ملفات تعريف ارتباط الجلسة مؤقتة. يتم استخدامها لتتبع
            أنشطتك على المنصة وإدارة جلسات مستخدمينا. إنها تتذكر الصفحات التي قمت بزيارتها وتسمح لك
            بتنقل سهل. يتم حذف ملفات تعريف ارتباط الجلسة تلقائيا عند إغلاق المتصفح.
          </p>
          <p>
            5/3 تظل ملفات تعريف الارتباط الدائمة على جهازك طالما أنك لم تقم بحذفها. لكن إذا وصلت إلى
            تاريخ انتهاء صلاحيتها قبل حذفها يدويا، يتم إزالتها من جهازك أو الجهاز المحمول تلقائيا.
            تسمى أيضا ملفات تعريف الارتباط المستمرة لأنها تبقى على جهازك لفترة أطول من الزمن. نحن
            نستخدم ملفات تعريف الارتباط الدائمة لتذكر معلوماتك وإعداداتك الخاصة. يمكنها أيضا تخزين
            كلمة مرورك إذا قمت بالضغط على خيار “تذكر كلمة المرور”. تتذكر ملفات تعريف الارتباط
            الدائمة أيضا اختيار اللغة أو الموضوع المفضل أو الإشارات المرجعية أو تفضيلات القائمة أو
            المفضلة. ملفات تعريف الارتباط الدائمة تجعل استخدام المنصة مريحا عن طريق السماح بتسجيل
            دخول سهل عند زيارة المنصة في المستقبل.
          </p>
          <p>
            5/4 يمكن تثبيت ملفات تعريف الارتباط على جهازك، سواء كنت مسجلا معنا أم لا. يتم إنشاؤها في
            الوقت الذي تزور موقعنا على الانترنت. يتم تثبيتها بشكل عام في الوقت الذي تفتح فيه المنصة
            أو أي موقع إلكتروني تابع لطرف ثالث يستخدم ملفات تعريف الارتباط. يمكن تثبيت ملفات تعريف
            ارتباط الطرف الثالث عند الضغط على أي إعلان أو زيارة أي موقع مرتبط. يتم تثبيتها في المجلد
            الفرعي للمتصفح.
          </p>
          <p>
            5/5 نحن لا نستخدم ملفات تعريف الارتباط للمسح أو التجسس على معلوماتك الشخصية الموجودة في
            جهازك أو الجهاز المحمول. أي معلومات موجودة في ملف تعريف الارتباط هي ببساطة نتيجة
            لأفعالك. على سبيل المثال، إذا قمت بملء استمارة على موقع إلكتروني، فقد تقوم ملفات تعريف
            الارتباط بتسجيلها. يرجى ملاحظة أن المعلومات المسجلة بواسطة ملفات تعريف الارتباط لدينا
            مشفرة وبالتالي، لا يمكن لخادم طرف ثالث قراءتها أو فك المعلومات الواردة فيها.
          </p>
          <p>
            5/6نحن نستخدم ملفات تعريف الارتباط لجمع المعلومات مثل تاريخ ووقت دخولك وتفضيلاتك ومعرف
            المستخدم وتفاصيل التصفح إلخ. يمكن لملفات تعريف الارتباط أيضا تخزين كلمة مرورك إذا قمت
            بتحديد خيار “تذكر كلمة المرور”. نظرا لأن كلمات المرور المخزنة في ملفات تعريف الارتباط
            مشفرة، فلن تتمكن أي خوادم أخرى باستثناء الخادم الذي أنشأ ملف تعريف الارتباط من قراءة
            كلمة المرور. يتم تخزين معرف المستخدم وجهازك وتفاصيل المتصفح في الوقت الذي تحدد فيه خيار
            “تذكرني”. نحن نستخدم ملفات تعريف الارتباط على المنصة لإدارة جلسات مستخدمينا، وتتبع
            المعلومات وتذكر اللغة التي اختارها المستخدم. ملفات تعريف الارتباط تساعدك في توفير وقتك
            عن طريق اختيار اللغة المفضلة تلقائيا وتذكر جهازك. على سبيل المثال، إذا كنت لا تسمح
            بملفات تعريف الارتباط على جهازك، فقد تحتاج إلى الإجابة عن أسئلة الأمان في كل مرة تحاول
            فيها تسجيل الدخول إلى حسابك. لكن إذا سمحت بها، لن يطلب منك الإجابة على أسئلة الأمان
            مرارا وتكرارا. ذلك لأن خادمنا سوف يتعرف عليك بمساعدة المعلومات المخزنة في ملفات تعريف
            الارتباط المثبتة على تخزين جهازك أو الجهاز المحمول.
          </p>
          <p>
            5/7 نحن نستخدم أربعة أنواع من ملفات تعريف الارتباط على موقعنا. هي i) ملفات تعريف
            الارتباط التقنية؛ ii) ملفات تعريف الارتباط الوظيفية؛ iii) ملفات تعريف الارتباط التحليلية
            و (iv ملفات تعريف الارتباط التجارية
          </p>
          <p>
            أ. ملفات تعريف الارتباط التقنية: ملفات تعريف الارتباط التقنية تساعدنا على إدارة المنصة
            بطريقة أفضل. بما أن المنصة تحتوي على صفحات متعددة، بما في ذلك صفحة تسجيل المستخدم، فإننا
            نحتاج إلى ملفات تعريف الارتباط الوظيفية هذه لإجراء التنسيق بين هذه الوظائف المختلفة.
          </p>
          <p>
            ‌ب. ملفات تعريف الارتباط الوظيفية: ملفات تعريف الارتباط الوظيفية تذكر تفضيلاتك مثل البلد
            واختيار اللغة والعملة. كما أنها تتذكر معرف المستخدم وكلمة المرور إذا كنت قد حفظتهما.
          </p>
          <p>
            ‌ج. ملفات تعريف الارتباط التحليلية: يتم استخدام ملفات تعريف الارتباط هذه لحسابات الواجهة
            الخلفية وتحليلها. من أجل خدمة مستخدمينا بشكل أفضل، تحاول مشورة باستمرار تحسين موقعها
            وتطبيقاتهاا وخدماته على شبكة الإنترنت. باستخدام ملفات تعريف الارتباط التحليلية، تفهم
            مشورة وتدير حركة المرور على المنصة. علاوة على ذلك، يتم استخدام تقارير التحليلات في فهم
            المشكلة الفنية وتطوير حل أو تحديثات.
          </p>
          <p>
            ‌د. ملفات تعريف ارتباط الطرف الثالث: قد تقوم مواقع إلكترونية لطرف ثالث بتثبيت ملفات
            تعريف الارتباط على جهازك أو جهازك الجوال. مطلوب منك قراءة سياسة استخدام ملفات تعريف
            الارتباط قبل زيارة أو الاستفادة من أي من خدماتها. نحن لا نملك أو نتحكم في مواقع الطرف
            الثالث، وبالتالي، نحن لا نتحكم في ملفات تعريف الارتباط المنقولة والمعلومات التي يتم
            جمعها بواسطة طرف ثالث على شبكة الإنترنت. قد تقوم مواقع إلكترونية لطرف ثالث مثل بوابات
            الدفع أيضا بتثبيت ملفات تعريف الارتباط على جهازك أو جهازك المحمول.
          </p>
          <p>
            5/8 نحن نستخدم حشرات الويب لفهم نمط حركة المرور على موقعنا. تعرف حشرات الويب أيضا باسم
            علامات بكسل. يمكن استخدام علامات بكسل لتحديد ما إذا كان المستخدم قد زارنا مباشرة أو من
            خلال ارتباط تشعبي / إعلان. هذا يساعد في تحسين تجربة مستخدمينا على الموقع.
          </p>
          <p>
            5/9 يمكنك إعادة ضبط إعدادات متصفحك لعدم قبول ملفات تعريف الارتباط. لكن تقليل استخدام
            ملفات تعريف الارتباط قد يحد من أنشطتك على المنصة. على سبيل المثال، قد تتعرض لاستخدام
            وسيلة الاتصالات لدينا. قد يطلب منك أيضا تقديم معلومات معينة في كل مرة تستخدم فيها
            المنصة. على سبيل المثال، قد تحتاج إلى تحديد لغتك المفضلة في كل مرة تزورنا فيها. متصفحك
            يسمح لك بحذف ملفات تعريف الارتباط الدائمة المثبتة على تخزين جهازك. لحذف ملفات تعريف
            الارتباط الدائمة المثبتة على جهازك أو الجهاز المحمول، يمكنك اختيار الخيارات المتعلقة
            المتاحة في إعدادات متصفحك.
          </p>
          <p>
            5/10لإزالة ملفات تعريف الارتباط الدائمة من جهازك، تحتاج إلى حذفها يدويا. إذا كنت تستخدم:
          </p>
          <p>
            ‌أ. كروم، يمكنك الانتقال إلى chrome://settings/clearBrowserData ثم اختيار ملفات تعريف
            الارتباط لحذفها.
          </p>
          <p>
            ‌ب. موزيلا فايرفوكس، يرجى زيارة: about:preferences#privacy ، ثم انقر على محو السجل
            الحديث&gt; ملفات تعريف الارتباط&gt; مسح الآن.
          </p>
          <p>
            لحذف ملفات تعريف الارتباط أو تعطيلها من المتصفحات الأخرى، يمكنك الانتقال إلى الإعدادات
            واختيار الخيار الأنسب.
          </p>
          <p>6- الإعلان</p>
          <p>7- شروط الطرف الثالث</p>
          <p>
            قد تحتوي المنصة على روابط لمواقع لأطراف ثالثة. ننصحك بقراءة وفهم سياسة الخصوصية الخاصة
            بهم قبل استخدام أو الاستفادة من أي من خدماتهم. يرجى ملاحظة أننا لا نملك أي سيطرة على
            لمواقع الإلكترونية للأطراف الثالثة هذه وأنها لا تخضع لسياسة الخصوصية هذه.
          </p>
          <p>8-كيف نحمي معلوماتك الشخصية؟</p>
          <p>
            نحن نبذل جهدا موفورا لتحسين حماية المعلومات التي بحوزتنا. لقد قمنا بتطبيق ميزات الأمان
            القياسية للحفاظ على المعلومات محمية في كل لحظة. علاوة على ذلك، قمنا بتنفيذ سياسات صارمة
            لضمان أقصى قدر من الحماية للمعلومات الشخصية للمستخدمين من أي وصول واستخدام غير مصرح به.
            كما قمنا بتنفيذ العديد من القيود على الوصول واستخدام أي معلومات للمستخدم في حوزتنا. على
            سبيل المثال، لا نسمح لأي شخص أو موظف غير مصرح له بمعالجة أية معلومات مستخدم تم جمعها
            وفقا لسياسة الخصوصية هذه. لكن، يجب أن تفهم أنه لا توجد طريقة حماية البيانات آمنة 100٪.
          </p>
          <p>9- أين نقوم بتخزين أو معالجة معلوماتك الشخصية؟</p>
          <p>
            يتم تخزين معلوماتك أو بياناتك عن طريق www. إذا كنت تقوم بالدخول إلى المنصة من أي مكان
            آخر غير المملكة العربية السعودية، فإنك تفهم أن معلوماتك سوف يتم نقلها إلى المملكة
            العربية السعودية للتعامل معها. مع الإشارة تحديدا إلى شركائنا الذين يجمعون ويخزنون
            معلوماتك الشخصية يرجى ملاحظة أن الشركات الزميلة سوف تقوم بتخزين معلوماتك الشخصية في مقر
            منشأتهم.
          </p>
          <p>10- يمكنك الوصول إلى وتحديث معلوماتك:</p>
          <p>
            لك الحق في تصحيح أو تحديث معلوماتك الشخصية التي شاركتها معنا. من أجل تعديل معلوماتك
            الشخصية، ستتم مطالبتك بزيارة حسابك. يمكنك الوصول إلى حسابك وتعديل المعلومات مثل اسمك
            وعنوانك وتفاصيل الاتصال إلخ كما يحلو لك. لا توجد قيود على عدد المرات التي يمكنك فيها
            تعديل معلوماتك الشخصية. علاوة على ذلك، يمكنك أيضا تعطيل/ حذف حسابك عن طريق اختيار خيار
            تعطيل حسابك. بمجرد التعطيل/ الحذف، لن تكون في وضع يمكنك من تغيير أو تعديل أو تحديث
            معلوماتك الشخصية. في حالة وجود أي صعوبة، يمكنك إرسال بريد إلكتروني إلينا على عنوان
            البريد الإلكتروني الموجود في قسم الاتصال في سياسة الخصوصية هذه.
          </p>
          <p>11- تقييد الإرسال:</p>
          <p>
            يمكنك تقييد بعض الاتصالات التي تتلقاها. تحتوي هذه الرسائل على رابط إلغاء الاشتراك. يمكنك
            الضغط على رابط التقييد لإرسال طلبك. يرجى ملاحظة أنك قد تستمر في تلقي الاتصال المجدول
            سلفا أثناء فترة معالجة طلب التقييد. علاوة على ذلك، يرجى ملاحظة أنه لا يمكنك تقييد
            الاتصالات المتعلقة بأنشطتك على المنصة والخدمات التي نقدمها وما إلى ذلك. يمكنك تقييد
            خدماتنا عن طريق إلغاء تسجيلك أو حذف حسابك أيضا. علاوة على ذلك، يمكنك أيضا التواصل معنا
            على عنوان البريد الإلكتروني الوارد أدناه في حالة أي صعوبة.
          </p>
          <p>12- الاتصال وحل المنازعات:</p>
          <p>
            لأي استفسار يتعلق بسياسة الخصوصية أو أي شكوى تتعلق بمعلوماتك الشخصية، يرجى الاتصال بنا
            على بريد إلكتروني ……………………………………………………
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
