<div id="app" class="page">
  <form name="newReq">
    <section class="application">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="con_box" id="steps">
              <h1>الخطوات</h1>
              <img src="assets/img/icons/scale.svg" />
              <h2>اوصف مشكلتك</h2>
              <img class="down" src="assets/img/icons/down.svg" />
              <img src="assets/img/icons/users.svg" />
              <h2>ارسل طلبك</h2>
              <img class="down" src="assets/img/icons/down.svg" />
              <img src="assets/img/icons/comments.svg" />
              <h2>احصل على الرد</h2>
              <img class="down" src="assets/img/icons/down.svg" />
              <img src="assets/img/icons/copy.svg" />
              <h2>قيم محاميك</h2>
            </div>
          </div>
          <div class="col-md-9">
            <h1>الخدمات القانونية</h1>
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </section>
  </form>
</div>
