<div id="about" class="page">
    <section class="who_are_we">
      <div class="container">
        <div class="row">
            <div class="col-md-4 desktop_only">
                <div class="con_box">
                  <h1>مهمتنا</h1>
                  <p>
                    بذل كل جهدنا لتقديم خدمات واستشارات قانونية لعملائنا داخل
                    المملكة العربية السعودية تستند على مقومات الثقة والاحترافية
                    والتفاني في أداء العمل من خلال محامون ومستشارون قانونيون
                    متخصصون. ونحن نؤمن بأن هذه المقومات هي التي تجعل مشورة محط
                    أنظار العملاء لأنها تمثل القيم والمرتكزات لنجاح الأعمال ،
                    وهي التي تبني علاقات راسخة ومتينة مع عملائنا
                  </p>
                </div>
              </div>
          <div class="col-md-8">
            <h1>من نحن</h1>
            <p>
              نحن منصة إلكترونية تجمع نخبة من المحامين والمستشارين
              القانونيين المتخصصين ذوي الخبرة، ونعتبر حلقة وصل تربط بين
              مقدمي الخدمات القانونية والعملاء بطريقة احترافية؛ وذلك سعياً
              منا لحصول عملائنا على خدمة عالية الجودة بسعر ميسر وبشكل
              احترافي مع تحقق كامل الأمان والسرية
            </p>

            <h1>رسالتنا</h1>
            <p>
              الاهتمام والدقة والأمانة والالتزام مع عملائنا وفقاً لأعلى
              المعايير المطلوبة. فإننا نؤمن بأن نجاحنا مرهون برضى عملائنا؛
              وهذه القيم هي حجر الأساس في كل ما نقدمه ونسعى إلى تحقيقه
            </p>

            <h1>رؤيتنا</h1>
            <p>
              أن نكون المنصة الالكترونية الرائدة والأكثر وثوقاً في توفير
              الخدمات القانونية من خلال نقطة اتصال واحدة تجمع نخبة من
              المحامين والمستشارين القانونيين؛ الذين يسعون لتقديم الخدمات
              والحلول القانونية بمهنية عالية للعملاء
            </p>
          </div>
          <div class="col-md-4 mobile_only">
              <div class="con_box">
                <h1>مهمتنا</h1>
                <p>
                  بذل كل جهدنا لتقديم خدمات واستشارات قانونية لعملائنا داخل
                  المملكة العربية السعودية تستند على مقومات الثقة والاحترافية
                  والتفاني في أداء العمل من خلال محامون ومستشارون قانونيون
                  متخصصون. ونحن نؤمن بأن هذه المقومات هي التي تجعل مشورة محط
                  أنظار العملاء لأنها تمثل القيم والمرتكزات لنجاح الأعمال ،
                  وهي التي تبني علاقات راسخة ومتينة مع عملائنا
                </p>
              </div>
            </div>
        </div>
      </div>
    </section>
  </div>