h3 {
  color: black !important;
  padding-bottom: 5px;
  margin-bottom: 0;
}

h4 {
  color: black;
  padding-bottom: 5px;
}

span {
  display: block;
  word-wrap: break-word;
  width: 100%;
  white-space: normal;
}
