<div id="general_terms" class="page">
  <section class="g_terms">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>الأحكام العامة</h1>

          <p>
            <strong
              ><u> الأحكام العامة : <br /></u
            ></strong>
          </p>
          <p>
            &#8220;مشورة &#8221;، &#8220;المنصة&#8221;، &#8220;نحن&#8221;، و &#8220;لدينا&#8221;، هو
            الموقع الذي يعمل كحلقة وصل بين العملاء والمحامين. يقصد بمصطلح &#8220;أنت&#8221; و
            &#8220;الخاص بك&#8221; مستخدم هذه المنصة. تقتصر خدماتنا على تمكين المستخدمين من الوصول
            بشكل أسهل إلى المعلومات القانونية وإيجاد حلول قانونية عن المسائل التي يحتاجون إليها
            بخصوص المشورة القانونية و / أو المساعدة والتواصل وتلقي الردود من المحامين على الموقع.
          </p>
          <p>
            باستخدام المنصة، فإنك توافق على الالتزام بالبنود والالتزام قانونا بالأحكام والشروط
            الواردة في هذه الاتفاقية (&#8220;الشروط&#8221; أو &#8220;الاتفاقية&#8221;). تحكم هذه
            الشروط دخولك إلى المنصة واستخدامها وكل المحتوى الجماعي، وتشكل اتفاقية قانونية ملزمة بينك
            وبيننا. إذا كنت لا توافق على هذه الشروط، يجب ألا تحصل على أي معلومات أو الاستمرار في
            استخدام المنصة. يرجى قراءة شروط الاستخدام هذه بعناية لأنها تحتوي على معلومات مهمة تتعلق
            بحقوقك القانونية وسبل الإنصاف والالتزامات. تشمل القيود والاستثناءات المختلفة، والبند
            الذي يحكم الاختصاص والنزاعات.
          </p>
          <p>
            يمثل استخدام ھذا المنصة موافقتك علی الالتزام بأحدث إصدار من ھذه الشروط. يجوز لنا في أي
            وقت مراجعة هذه الشروط. أنت توافق على الالتزام بجميع المراجعات اللاحقة وتوافق على مراجعة
            البنود على فترات منتظمة من أجل التغييرات التي يتم إجراؤها على هذه البنود. ستكون أحدث
            نسخة من البنود متاحة دائما للمراجعة من خلال رابط بنود الاستخدام الذي يظهر في الجزء
            السفلي من المنصة.
          </p>
          <p>
            إذا كنت تستخدم المنصة، فإنك تعتبر قد قرأت ووافقت على الأحكام والشروط التالية المنصوص
            عليها في هذه الوثيقة. تعتبر أي وثائق وروابط عرضية مذكورة مقبولة مع هذه الشروط. إنك توافق
            على استخدام المنصة بالتفسير المذكور فيها وقبول هذه الشروط، وأي إجراءات أو التزامات تتم
            دون مراعاة لهذه الشروط تكون على مسؤوليتك الخاصة. تشكل هذه الشروط جزءاً من الاتفاقية
            بيننا وبين المستخدمين.
          </p>
          <p>
            دون تحديد أي أحكام أخرى من هذه الاتفاقية ، لا يجوز لك استخدام الموقع لأي غرض غير قانوني
            أو محظور بموجب هذه الاتفاقية و / أو أي شروط إضافية قابلة للتطبيق. قد يتم إنهاء وصولك إلى
            الموقع فورًا في حالة انتهاك مشورة منفرداً، مع أو بدون إشعار ، إذا فشلت في الامتثال لهذه
            الشروط أو أي شروط إضافية ، أو لأي سبب آخر ، أو لأسباب أخر.
          </p>
          <p>
            <strong><u>1. التسجيل وكلمة المرور</u><br /></strong>
          </p>
          <p>
            يمكنك تصفح المحتوى المتاح على المنصة دون إنشاء ملف تعريف لك. لكن في حال كنت ترغب في طلب
            استشارة أو طلب مكالمة من محام. سيطلب منك إنشاء ملف تعريفك على المنصة. عند التسجيل
            باستخدام هذا الموقع أو تسجيل الدخول إليه ، ستحتاج إلى استخدام اسم مستخدم وكلمة مرور. أنت
            وحدك المسؤول عن الحفاظ على سرية معلوماتك وكلمة مرورك. ستكون مسؤولاً عن جميع الاستخدامات
            والأنشطة التي تحدث تحت كلمة المرور الخاصة بك ، بغض النظر عما إذا كانت مصرحًا بها أم لا.
            أنت توافق على إخطار مشورة على الفور بأي استخدام غير مصرح به للتسجيل أو كلمة المرور
            الخاصة بك. لن تكون مشورة مسؤولة عن أي خسارة أو ضرر ناتج عن استخدام غير مصرح به للتسجيل
            أو كلمة المرور الخاصة بك.
          </p>
          <p>
            <strong>2. <u>وصف الخدمة</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            1/1 نحن منصة على الانترنت تعمل كحلقة وصل بين العملاء والمحامين أو مكاتب المحاماة. بينما
            نسعى جاهدين لتقديم محتوى عالي الجودة إلى مستخدمينا، فإنه ليس من الممكن عمليا أن نقوم
            بضبط المحتوى المنشور على المنصة مسبقا. ومع ذلك، يجوز لنا، وفقا لتقديرنا الخاص، مراجعة
            المحتويات وإزالة أي جزء مخالف حسب الحالة. المعلومات القانونية المتاحة على هذا المنصة هي
            لاستخدامك الشخصي وأنت غير مخول بإعادة إنتاجها على أي منصة أخرى دون إذن كتابي منا.
          </p>
          <p>
            1/2 يمكن للمحامي أو مكتب المحاماة تسجيل نفسه على منصتنا وتوفير خدماته للجمهور. بتسجيل
            المحامين أو مكاتب المحاماة، نحن لا نعبر عن أي رأي يتعلق بتأهيلهم وملاءمتهم وكفاءتهم
            وخبرتهم للتعامل مع قضية قانونية محددة. يتم توفير المعلومات الموجودة في ملفهم الشخصي
            بواسطة المحامين أو مكاتب المحاماة. نحن ملتزمين بالتحقق من صحة أو أصالة أي من هذه
            المعلومات ولكن لا نؤكد أن نوعية خدماته ستكون مرضية لك. عند اختيارك محامي بشكل شخصي. عليك
            أن تكون مسؤولا عن استخدام مهاراتك وأفضل حكم لتحديد المرشح المناسب للتعامل مع قضيتك
            القانونية. تعكس التقييمات التي يتلقاها المحامون المسجلون رأي المستخدمين الذين اختاروا
            التعامل مع المحامي المسجل المعين وليس رأي مشورة. باستخدام المنصة، يمكن للمستخدم تصفح
            الملفات الشخصية للمحامين المسجلين، وطرح الأسئلة والتواصل مع المحامين المسجلين.
          </p>
          <p>
            1/3 لا يؤدي استخدامك هذه المنصة إلى إنشاء علاقة وكالة بين مشورة وبينك. المعلومات
            القانونية المتاحة للجمهور على المنصة هي لأغراض معلوماتية عامة فقط. لا يجوز تفسير
            المعلومات القانونية بما في ذلك الإجابات على الأسئلة المحددة المتاحة على المنصة على أنها
            فتوى قانونية أو مشورة قانونية. في حال كان المحامون المسجلون لدينا يردون على الاستفسارات
            التي يرسلها أحد المستخدمين، فإن المحامي المسجل الذي يرد على هذا الاستفسار يكون مسؤولا عن
            دقة المعلومات أو الرأي. لن يكون علينا أي التزام في هذا الصدد.
          </p>
          <p>
            1/4 نحن لسنا مكتب محاماة أو مقدم خدمات قانونية. نحن لا نرد على أي سؤال قانوني أو نعبر عن
            رأي قانوني بشأن الاستفسارات التي يقدمها المستخدم. المحامون المسجلون معنا ليسوا موظفينا
            أو شركائنا أو مدرائنا أو وكلائنا.
          </p>
          <p>
            3.
            <strong><u>الاتفاق بين المحامين المسجلين معنا والمستخدمين</u></strong
            ><strong><u>:</u></strong>
          </p>
          <p>
            المحامون المسجلون معنا متعاقدون مستقلون. في حال استعنت بمحام مسجل. فإنك تدخل في عقد مع
            هذا المحامي المسجل الخاص بصفتك الشخصية معه كطرف آخر. لا تعتبر هذه المنصة طرفا في ذلك
            الاتفاق بأي شكل من الأشكال. نحن فقط وصلة بينك وبين المحامين المسجلين.
          </p>
          <p>
            <strong><u>4. للمحامين فقط</u><br /></strong>
          </p>
          <p>
            يحتوي هذا القسم على شروط خاصة تنطبق فقط على المحامين المسجلين في مشورة الرجوع إلى الشروط
            والأحكام المتعلقة بالخدمات القانونية لمزيد من التفاصيل. عندما يختارك العملاء للحصول على
            خدمة قانونية ، يجب أن تكون الشخص الذي يقوم بالاتصال بهم مرة أخرى. العملاء هم عملاء
            حقيقيون ، وقد دفعوا مقابل مساعدتكم الشخصية ، وليسوا كي يتواصلوا مع موظف الاستقبال أو
            السكرتير أو المحامي أو محام آخر في مكتبك أو أي شخص آخر.
          </p>
          <p>
            تحدد مشورة أسعار الخدمات القانونية ، وتخضع الأسعار التي يدفعها العملاء للتغيير.
          </p>
          <p>
            أنت توافق على تلقي الرسائل النصية المتعلقة بالخدمة على رقم الهاتف المحمول الذي توفره
            أثناء عملية التسجيل (أو أي رقم تقدمه في تحديث لإعدادات حسابك عبر الإنترنت).
          </p>
          <p>
            الدفع شهريًا: بحلول &#8230;&#8230;&#8230;.. من كل شهر ، ستحصل على كامل المبلغ المدفوع من
            قبل العميل مقابل خدماتك التي تم الوفاء بها في الشهر السابق ، بعد خصم المبالغ المستردة.
            سوف يتم الدفع لك فقط إذا كانت المكالمة تمر عبر نظامنا. يتم فرض رسوم على العملاء فقط ،
            إذا اتصلت من خلال خدمة الاتصال التي تقدمها مشورة، إذا قام العميل بالاتصال بك مباشرة بعد
            شراء خدمة قانونية ، فيجب أن تخبرهم أنك ستتصل بهم مباشرة وتدعوهم من خلال منصتنا علىمشورة
            إذا لم تقم بذلك ، فلن يتم الدفع لك ، وستخاطر بالإزالة من المنصة.
          </p>
          <p>
            يمكنك ، لأسباب عديدة وجيهة (تضارب المصالح ، قلة الخبرة في مسألة قانونية معينة ، مشغول
            جدًا ، إلخ.) إيقاف الخدمة وعدم الوفاء بها حتى بعد اختيار العميل لك ودفع ثمن الخدمة .
            سيتم رد العميل أو الاتصال بمحام آخر.
          </p>
          <p>
            لإيقاف الخدمة ، أرسل بريدًا إلكترونيًا إلى
            &#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;.. مع اسم العميل واسم الخدمة وطلبك رفض
            الخدمة. ولكن ، يجب استخدام هذا بشكل ضئيل. إذا كنت تعتقد أنك لن تكون قادرًا على القيام
            بذلك لسبب أو لآخر ، فيجب عليك إيقاف خدماتك عن طريق إيقاف تشغيل التوافر الخاص بك. من
            المهم بالنسبة لنا أن يشعر العميل بالراحة للوصول إلى المساعدة القانونية من خلال مشورة ،
            والثقة في أن المحامي الذي يختارونه أو يتم اختياره سيكون جاهزًا لتقديم الخدمة التي
            يحتاجون إليها بالفعل. لذلك ، يجب ألا ترفض الخدمات كثيرًا لتجنب المخاطرة بإزالتها من
            الموقع.
          </p>
          <p>
            يمكننا إزالة أو تعليقك من الموقع في أي وقت حسب تقديرنا. فيما يلي قائمة غير حصرية بأسباب
            إزالتك أو تعليقك:
          </p>
          <ol>
            <li style="text-align: right;">تزوير</li>
            <li style="text-align: right;">
              رفض العديد من مستخدمي الخدمة القانونية
            </li>
            <li style="text-align: right;">درجات مراجعة منخفضة</li>
            <li style="text-align: right;">
              أوقات استجابات مطولة (تستغرق وقتًا طويلاً لإعادة الاتصال بالمستهلكين)
            </li>
            <li style="text-align: right;">
              عدم استدعاء العملاء مرة أخرى على الإطلاق (أي عدم الحصول على أموال لأن مكالمة هاتفية لم
              تمر عبر نظامنا)
            </li>
          </ol>
          <p>
            <strong>5. <u>التغييرات على المنصة</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            يجوز لنا إيقاف أي من خدماتنا أو وظائفنا أو ميزاتنا في أي وقت بإشعار أو بدون إشعار. لكن
            قد نقوم بإرسال رسالة إليك وفقا لسياسة الخصوصية الخاصة بنا فيما يتعلق بأي تغيير يتم
            إجراؤه على المنصة أو خدماتنا.
          </p>
          <p>
            <strong>6. <u>سلوك المستخدمين</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            6.1 أنت توافق على عدم إساءة استخدام المعلومات بما في ذلك تفاصيل الاتصال بالمحامين
            المسجلين. أنت توافق على عدم الاتصال بالمحامين المسجلين لغرض الإعلان أو الترويج التجاري.
            إرسال الاتصالات غير المرغوب فيها والرسائل غير المرغوب فيها ممنوع منعا باتا. لا يمكنك نسخ
            محتويات بما في ذلك سبيل المثال لا الحصر الصور والنصوص والتسجيلات الصوتية والوثائق دون
            إذن كتابي منا.
          </p>
          <p>
            6.5 أنت توافق على أنك لن تستخدم أي جهاز آلي أو أية أداة استخراج بيانات أو برامج للوصول
            إلى أي جزء من المنصة أو إرساله أو تنزيله أو الاشتراك في أنشطة تخريبية أو ضارة عبر
            الإنترنت أو كسب أو محاولة الدخول غير المصرح به إلى المناطق غير العامة في المنصة.
          </p>
          <p>
            6.7 كشرط لاستخدام مشورة، فإنك تضمن أنك لن تستخدمها لأي غرض غير قانوني بموجب أي قانون
            ساري المفعول في الوقت الحالي داخل المملكة العربية السعودية أو خارجها أو محظور بموجب هذه
            الشروط بما في ذلك المحددة والضمنية. بالإضافة إلى ذلك، لا يجوز استخدام المنصة بأي شكل من
            الأشكال، بما قد يؤدي إلى إلحاق الضرر بها أو تعطيلها أو إثقالها أو إضعافها أو التدخل في
            استخدام أي طرف آخر و / أو التمتع بها. يجب عليك الامتناع عن الحصول على أو محاولة الحصول
            على أي مواد أو معلومات من خلال أي وسيلة لم نتعمد إتاحتها أو توفيرها من خلال مشورة أو
            استخدام منصة أو الخدمات لنسخ أو تخزين أو استضافة أو بث أو إرسال أو استخدام أو نشر أو
            توزيع أي مادة والتي تتكون من (أو يرتبط بها) أي برامج تجسس أو فيروس كمبيوتر أو غيرها من
            برامج الكمبيوتر الضارة. كما توافق أيضا على أنك لن تقوم بأي أنشطة منهجية أو آلية لجمع
            البيانات (بما في ذلك على سبيل المثال لا الحصر، التنقيب عن البيانات واستخراج البيانات
            وجمع البيانات) على أو فيما يتعلق بالمنصة أو خدماتنا دون الحصول على موافقة كتابية صريحة
            منا. كما لا يمكنك الدخول أو التفاعل بطريقة أخرى مع منصتنا أو خدماتنا باستخدام أي روبوت
            أو أي وسيلة مؤتمتة أخرى ولا تستخدم البيانات التي يتم جمعها من منصة أو خدماتنا.
          </p>
          <p>
            <strong>7. <u>عدم الالتزام بالمراقبة أو التنظيم</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            أنت توافق على أننا لسنا مسؤولين عن إعادة النظر في المحتويات أو الخدمات المقدمة لك بواسطة
            المحامي المسجل الذي اخترت التعامل معه. ليس علينا واجب فحص المحتوى الذي يمكنك تقديمه أو
            نشره، ولكن لدينا الحق في رفض نشر أو تعديل المحتوى المقدم. نحن نحتفظ بالحق في إزالة أي
            محتوى ينتهك لأي سبب كان في أي وقت دون أي إشعار مسبق. نحن لا ندرس حالتك. لا نقدم أي خدمات
            قانونية. يقدم المحامون القانونيون الخدمات القانونية. نحن لا نتشاور أو نتصل بالمحامين
            المسجلين لمناقشة قضيتك.
          </p>
          <p>
            <strong><u>8. الروابط الخارجية</u><br /></strong>
          </p>
          <p>
            قد تحتوي المنصة على روابط لمواقع الطرف الثالث. ننصحك بقراءة وفهم سياسة الخصوصية وشروط
            الاستخدام قبل استخدام أو الاستفادة من أي من خدماتها. يرجى ملاحظة أننا لا نملك أي سيطرة
            على مواقع للأطراف الثالثة هذه ولا تخضع لسياسة الخصوصية هذه.
          </p>
          <p>
            <strong><u>9. الخصوصية</u><br /></strong>
          </p>
          <p>
            أنت على علم بأن المنصة تجمع وتخزن وتستخدم معلوماتك الشخصية وفقا لسياسة الخصوصية الخاصة
            بها. تعني المعلومات الشخصية بالمعلومات التي يمكن استخدامها لتعريفك كفرد. قد يختلف نوع
            المعلومات الشخصية التي يتم جمعها من المستخدمين تبعا لنوع النشاط الذي تقوم به. فعلى سبيل
            المثال، إذا كنت عميلا، فقد تحتاج إلى تقديم اسمك الكامل وعنوانك وتفاصيل الاتصال بك. لكن
            إذا كنت محاميا، قد تحتاج إلى تقديم اسمك كامل وصورة من رخصة المحاماة وتخصصك القانوني وإن
            كنت مكتب محاماة قد تحتاج إلى تقديم أسم المكتب وتفاصيل تسجيل المكتب و اسم الممثل وعنوان
            كامل وتفاصيل الاتصال بمحامي المكتب والممثل إلخ. نقوم بجمع معلوماتك الشخصية في الوقت الذي
            تقوم فيه بإنشاء ملف تعريفك على المنصة أو تملأ استمارة طلب أوترسل رسالة إلينا أو تقوم
            بالإبلاغ عن مشكلة أو تطلب الدعم الفني. تشمل المعلومات الشخصية معلومات مثل رقم بطاقة
            ائتمانك والاسم الكامل وتاريخ الميلاد وتفاصيل الاتصال وبطاقة الهوية الصادرة عن الحكومة
            وجواز السفر إلخ. ننصح بعدم مشاركة معلوماتك الشخصية في الدردشة والمنتديات والتقييمات أو
            في أي مكان آخر على المنصة ما لم تكن مطلوبة فيما يتعلق بخدماتنا. إذا كنت تستخدم منصتنا،
            قد نقوم تلقائيا بجمع بعض المعلومات مثل اسم جهازك و عنوان IP ونوع المتصفح وتفاصيل نظام
            التشغيل وتفاصيل موقعك الجغرافي إلخ.
          </p>
          <p>
            <strong>10. <u>ملفات تعريف الارتباط</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            نحن نستخدم ملفات تعريف الارتباط لجمع المعلومات مثل تاريخ ووقت دخولك وتفضيلاتك ومعرف
            المستخدم وتفاصيل التصفح إلخ. يمكن لملفات تعريف الارتباط أيضا تخزين كلمة مرورك إذا قمت
            بتحديد خيار &#8220;تذكر كلمة المرور&#8221;. نظرا لأن كلمات المرور المخزنة في ملفات تعريف
            الارتباط مشفرة، فلن تتمكن أي خوادم أخرى باستثناء الخادم الذي أنشأ ملف تعريف الارتباط من
            قراءة كلمة المرور. يتم تخزين معرف المستخدم والنظام وتفاصيل المتصفح في الوقت الذي تحدد
            فيه خيار &#8220;تذكرني&#8221;. نحن نستخدم ملفات تعريف الارتباط على منصتنا لإدارة جلسات
            مستخدمينا وتتبع المعلومات وتذكر اللغة التي اختارها المستخدم. ملفات تعريف الارتباط تساعدك
            على توفير وقتك عن طريق اختيار اللغة المفضلة تلقائيا وتذكر نظامك. على سبيل المثال، إذا
            كنت لا تسمح بملفات تعريف الارتباط على نظامك، فقد تحتاج إلى الإجابة عن أسئلة الأمان في كل
            مرة تحاول فيها تسجيل الدخول إلى حسابك. لكن إذا سمحت بها، لن يطلب منك الإجابة على أسئلة
            الأمان مرارا وتكرارا. ذلك لأن خادمنا سوف يتعرف عليك بمساعدة المعلومات المخزنة في ملفات
            تعريف الارتباط المثبتة على قرصك الصلب أو جهاز الهاتف المحمول. يرجى قراءة سياسة استخدام
            ملفات تعريف الارتباط الخاصة بنا للحصول على مزيد من المعلومات حول ملفات تعريف الارتباط
            المستخدمة بواسطة مشورة.
          </p>
          <p>
            <strong><u>11. الملكية والملكية الفكرية</u><br /></strong>
          </p>
          <p>
            باستخدام مشورة، لا تحصل على حقوق ملكية فكرية على مشورة ومحتوياتها. علاوة على ذلك، لن
            يكون هناك انتقال حقوق ملكية منك إلينا أو منا إليك كنتيجة لهذه الاتفاقية. اسمنا وشعارنا
            وعلامات الخدمة والكلمات لافتة للنظر والعلامات والعبارات وجميع المحتويات الأخرى على
            المنصة محمية بموجب حقوق الطبع والنشر والعلامات التجارية وقاعدة البيانات وحقوق الملكية
            الفكرية الأخرى والنشر على منصة ليست تنازلا منا عن أي من هذه الحقوق.
          </p>
          <p>
            <strong>12. <u>ترخيص لاستضافة المحتوى الخاص بك</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            نحن لا نسمح بانتهاك حقوق الملكية الفكرية. نحن نحتفظ بالحق في إزالة أي محتوى يمثل انتهاكا
            لحقوق الملكية الفكرية يتم إخطارنا به. إذا كنت تعتقد أن هناك مادة منتهكة على المنصة، يرجى
            الاتصال بنا عبر نموذج الاتصال على منصة على
            &#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;..
            مع المعلومات التالية:
          </p>
          <p>أ‌- اسم وعنوان صاحب الشكوى.</p>
          <p>ب‌- وصف للمواد المخالفة وشاشتها المطبوعة ورابطها.</p>
          <p>
            ت‌- معلومات كافية لتحديد المصنفات المحمية بموجب حقوق الطبع والنشر.
          </p>
          <p>
            ث‌- بيان من المالك بأن لديه اعتقاد راسخ بأنه لا يوجد أساس قانوني لاستخدام المواد التي
            اشتكى بخصوصها.
          </p>
          <p>
            ج‌- بيان بأن المعلومات المقدمة في الطلب صحيحة وبيان بأن الطرف صاحب الشكوى هو صاحب حقوق
            الملكية الفكرية أو أنه مخول بالتصرف نيابة عن المالك.
          </p>
          <p>
            <strong>13. <u>الاستخدام المحدود</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            يحظر صراحة نسخ أو إعادة إنتاج المنصة أو محتوياتها أو أي جزء منها على أي خادم أو موقع آخر
            لأن النسخ أو إعادة التوزيع محظورين صراحة. توافق كذلك على عدم إعادة إنتاج المحتوى من
            المنصة أو نسخه ، وتوافق على الالتزام بجميع إشعارات حقوق الطبع والنشر والإشعارات الأخرى
            المعروضة على المنصة. لا يجوز لك فك أو تفكيك أو إجراء هندسة عكسية أو محاولة اكتشاف أي
            شفرة مصدر موجودة على المنصة. دون التقييد بما تقدم، فإنك توافق على عدم إعادة إنتاج أي جزء
            من الخدمات أو نسخه أو بيعه أو إعادة بيعه أو استغلاله لأي أغراض تجارية.
          </p>
          <ol style="text-align: right;" start="15">
            <li>ترخيص لإستخدام خدماتنا</li>
          </ol>
          <p>
            15.1 باستخدام المنصة، فإنك توافق على أنه لن يكون علينا أي التزام أو مسؤولية عن الحذف أو
            الفساد أو الفشل في تخزين أي محتوى تم تحميله أو نقله عبر أو من خلال المنصة. كما أنك تفهم
            وتوافق على أن وظائفنا وخدماتنا قد تتغير في أي وقت دون أي إشعار مسبق لك.
          </p>
          <p>
            15.2 نحن نحتفظ بالحق في تقييد إمكانية وصولك إلى المنصة و / أو الخدمات وفقا لتقديرنا
            الخاص ويجب عدم التحايل أو محاولة الالتفاف أو تجاوز أي من هذه القيود.
          </p>
          <p>
            <strong>14. <u>استخدام تعليقاتك وتقييماتك وردودك</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            توافق على أنه يجوز لنا استخدام تقديراتك أو تقييماتك أو تعليقاتك أو اقتراحاتك أو أفكارك
            بأي شكل من الأشكال، بما في ذلك التعديلات المستقبلية للمنصة أو الخدمات أو المنتجات
            والخدمات الأخرى أو مواد الإعلان أو التسويق. أنت تمنحنا ترخيصا دائما عالميا قابلا للتحويل
            بالكامل وقابل للترخيص من الباطن وغير قابل للإلغاء وبلا رسوم لاستخدام التعليقات
            والتقديرات والتقييمات التي تقدمها إلى مشورة بأي شكل من الأشكال.
          </p>
          <p>
            <strong><u>15. الضمانات وإخلاء المسؤولية</u><br /></strong>
          </p>
          <p>
            يتم توفير هذه المنصة لك على أساس &#8220;كما هي&#8221; و &#8220;كما هو متاح&#8221;. نحن
            لا نقدم أي ضمانات صريحة أو ضمانات حول هذا المنصة. إلى الحد الذي يسمح به القانون، نحن
            وموردونا نخلي مسؤوليتنا من الضمانات الضمنية بما في ذلك أي ضمان أن المنصة كما هى أو سوف
            تكون قابلة للتسويق أو ذات نوعية مرضية ودقيقة أو دقيقة التوقيت أو تناسب غرض أو حاجة
            معينة، أو غير مخالفة. نحن لا نضمن أن هذه المنصة أو محتواها سوف تلبي احتياجاتك أو تكون
            خالية من الأخطاء أو يمكن الاعتماد عليها أو سوف تعمل دون انقطاع. أنت توافق على أننا لن
            نتحمل أي مسؤولية تجاهك فيما يتعلق بأي خسارة أو ضرر (بما في ذلك الخسائر أو الأضرار غير
            المباشرة أو الخاصة أو التبعية) التي قد تعاني منها أو تتكبدها أو قد تنشأ بشكل مباشر أو
            غير مباشر نتيجة لاستخدامك للمنصة أو الاستفادة من الخدمات التي يقدمها المحامون.
          </p>
          <p>
            نحن لا نقبل أي مسؤولية عن أي خسارة أو أضرار، أيا كان سببها (بما في ذلك عن طريق الإهمال)،
            والتي قد تعاني منها بشكل مباشر أو غير مباشر فيما يتعلق باستخدامك لهذا المنصة أو أي مواقع
            أو منصة مرتبطة أو أي معاملة تحدث نتيجة لاستخدامك للمنصة كما أننا لا نقبل أي مسؤولية عن
            أي خسارة من هذا القبيل تنشأ عن استخدامك للمعلومات الواردة في هذا المنصة أو من خلالها.
          </p>
          <p>
            حسب الحد المسموح به بموجب القانون، يتم استبعاد أي شرط أو ضمان قد يكون ضمنيا ضمن هذه
            الشروط. إذا كان التشريع ينطوي على أي شرط أو ضمان، وكان هذا التشريع يحظر علينا استبعاد أو
            تعديل المنصة، أو مسؤوليتنا بموجب أي شرط من هذا القبيل أو الضمان، فإن هذا الشرط أو الضمان
            يعتبر مضمن ولكن مسؤوليتنا سوف تكون محدودة إلى أقصى حد يسمح به القانون.
          </p>
          <p>
            يطلب منك اتخاذ احتياطاتك للتأكد من أن العملية التي تستخدمها للدخول إلى هذا المنصة لا
            تعرضك لخطر الفيروسات أو أي شكل آخر من أشكال التدخل التي قد تضر نظام الكمبيوتر الخاص بك.
            لإزالة الشك، نحن لا نقبل المسؤولية عن أي تدخل أو تلف لنظام الكمبيوتر الخاص بك والذي ينشأ
            فيما يتعلق بدخولك إلى هذا المنصة أو أي مواقع أو منصات مرتبطة.
          </p>
          <p>
            في حین لا یوجد لدینا سبب للاعتقاد بأن أي معلومات واردة في ھذه المنصة غیر دقیقة، فإننا لا
            نضمن دقة ھذه المعلومات أو کفایتھا أو کمالھا. نحن لا نقبل بالمسؤولية عن الخسائر التي
            تتكبدها نتيجة لاعتمادك على دقة أو حداثة المعلومات الواردة في هذا المنصة.
          </p>
          <p>
            تقع مسؤولية محتوى الإعلانات التي تظهر على هذا المنصة (بما في ذلك الارتباطات التشعبية)
            على عاتق المعلنين فقط. لا يشكل وضع مثل هذه الإعلانات توصية أو تأييدا من جانبنا للمنتجات،
            ويكون كل معلن مسؤولا فقط عن أي بيانات تم تقديمها فيما يتعلق بإعلانه.
          </p>
          <p>
            نحن لسنا مكتب محاماة. المعلومات المتاحة على المنصة ليست فتوى قانونية أو مشورة قانونية.
            إذا كنت تبحث عن نصيحة شخصية، يجب عليك استخدام الاستبيان للتواصل مع محامي مرخص أو مستشار
            قانوني. نحن لا نضمن أن تكون الخدمات التي يقدمها المحامون المسجلون ذات جودة مرضية.
          </p>
          <p>
            نحن لسنا مسؤولين عن أي خسارة مهما كانت والتي قد يعاني منها المستخدم بما في ذلك، ولكن ليس
            على سبيل الحصر، الخسارة الاقتصادية، للاعتماد على المبادئ التوجيهية أو تعليقات من مركز
            المساعدة لدينا أو موظفي مشورة .
          </p>
          <p>
            <strong>16. <u>حدود المسؤولية</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            لا يجوز بأي حال من الأحوال أن تكون مشورة أو مسؤوليها أو مديريه أو موظفيها أو وكلائها
            مسؤولين عن أضرار مباشرة أو غير مباشرة أو عرضية أو خاصة أو تبعية أو مثالية (حتى لو كانت
            على علم أو كان ينبغي أن تكون على علم بإمكانية حدوث مثل هذه الأضرار) بما في ذلك على سبيل
            المثال لا الحصر إذا كانت الأضرار تنشأ عن استخدام المنصة أو إساءة استخدامها أو عدم القدرة
            على استخدام المنصة أو انقطاع المنصة أو تعليقها أو تعديلها أو تغييرها أو إنهائها. تنطبق
            هذه القيود إلى أقصى حد يسمح به القانون.
          </p>
          <ol>
            <li style="text-align: right;">
              لن نتحمل المسؤولية عن عدم توفر المنصة أثناء عمليات الصيانة الدورية أو أي تعليق غير
              مخطط قد يحدث لأسباب فنية أو لأي سبب خارج عن إرادتنا.
            </li>
            <li style="text-align: right;">
              تنطبق هذه القيود وإخلاء المسؤولية عن الضمانات والاستثناءات بغض النظر عما إذا كانت
              الأضرار تنشأ عن (أ) خرق الاتفاق أو (ب) خرق الضمان أو (ج) الإهمال أو (د) أي سبب آخر
              للعمل، إلى الحد أن مثل هذا الاستبعاد والقيود لا يحظره القانون المعمول به.
            </li>
            <li style="text-align: right;">
              يجب أن يكون الحد الأقصى للالتزام من جانب مشورة الناشئ تحت أي ظرف من الظروف محدودا
              بالرسوم التي تفرضها مشورة عليك.
            </li>
          </ol>
          <p>
            <strong>17. <u>مذكراتك وضماناتك</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>أنت تقر وتضمن لنا ما يلي:</p>
          <ol>
            <li style="text-align: right;">
              20 تم تنفيذ هذه الاتفاقية على النحو الواجب وبصورة صحيحة وتم تلقيها من قبلك وتشكل
              التزامك القانوني والساري والملزم، والقابل للإنفاذ ضدك وفقا لشروطه.
            </li>
            <li style="text-align: right;">
              20 لديك الحق الكامل والصلاحية والسلطة للدخول في شروط وأحكام هذه الاتفاقية والالتزام
              بها وتنفيذ التزاماتك بموجب هذه الاتفاقية، دون موافقة أو إقرار أي طرف آخر.
            </li>
            <li style="text-align: right;">
              20 لديك ما يكفي من الحق والأحقية والمصلحة في والحقوق الممنوحة لنا في هذه الاتفاقية.
            </li>
            <li style="text-align: right;">
              20 جميع المعلومات التي تقدمها إلينا في ما يتعلق باستخدامك لخدماتنا صحيحة وكاملة من
              جميع النواحي المادية وستظل محدثة إذا تغيرت.
            </li>
          </ol>
          <p>
            <strong><u>18. التعويض</u><br /></strong>
          </p>
          <p>
            إنك توافق على تعويض وعدم الإضرار بمشورة وموظفيها وممثليها ووكلائها والشركات التابعة لها
            ضد أي وجميع المطالبات أو الدعاوى أو التصرفات أو الإجراءات الأخرى المرفوعة ضدها بناء على
            أو ناشئة عن أي مطالبة ناتجة عن خرقك لهذه الاتفاقية، أو انتهاكك لأي قانون أو حق طرف آخر
            أو أي ادعاء بأن استخدام خدماتنا قد ألحق ضررا بطرف ثالث أو استخدامك للمنصة أو الخدمات أو
            بياناتك. سوف تدفع أي وجميع التكاليف والأضرار والنفقات، بما في ذلك، ليس على سبيل الحصر،
            أتعاب المحاماة المعقولة والتكاليف الممنوحة لنا أو المتكبدة من قبلنا فيما يتعلق أو
            الناشئة عن مثل هذه المطالبة أو الدعوى او التصرفات أو الإجراءات. نحن نحتفظ بالحق، وفقا
            لتقديرنا وحدنا وعلى نفقتنا الخاصة، لتحمل الدفاع الحصري والسيطرة على أي مطالبات. أنت
            توافق على التعاون بشكل معقول عندما نطلب منك في الدفاع عن أي مطالبات.
          </p>
          <p>
            <strong><u>19. بيع المنصة أو نقلها</u><br /></strong>
          </p>
          <p>
            أنت تقر بأن مشورة بصفتها مقدم المنصة والخدمات قد تختار نقل وبيع المنصة و / أو التعاقد من
            الباطن على حقوق الإدارة أو أي جزء أو كل توفير المنصة أو الخدمات لطرف ثالث، دون إرسال
            إشعار إليك. نحن غير ملزمين بإبلاغك بالإلغاء. إذا قمنا بإعلامك فلسنا ملزمين أن نذكر أي
            سبب لإلغائك.
          </p>
          <p>
            <strong><u>20. الإنهاء والتعليق </u><br /></strong>
          </p>
          <p>
            يحكم بند الإنهاء والتعليق إنهاء حسابك معنا. في هذه الحالة، إذا كنت تستفيد من خدماتنا
            بموجب اتفاقية الخدمة، فإن الإنهاء يخضع لاتفاقية الخدمة.
          </p>
          <p>
            يجوز لك أو لنا إنهاء هذه الاتفاقية بسبب أو بدون سبب في أي وقت ويكون فعالا على الفور. مع
            عدم الإخلال بالسبل الأخرى المتاحة لمشورة بموجب هذه الاتفاقية، أو بموجب القانون المعمول
            به، يجوز لنا تقييد نشاطك، إما مؤقتا أو لأجل غير مسمى أو تعليق تسجيلك أو إنهائه، و / أو
            رفض منحك إمكانية الوصول إلى المنصة في الحالات التالية:
          </p>
          <p>
            أ‌- خرقت هذه الاتفاقية و / أو الوثائق التي تتضمنها بالمرجعية؛
          </p>
          <p>ب‌- يتعذر علينا التحقق من أية معلومات تقدمها أو مصادقتها؛</p>
          <p>
            ت‌- نعتقد أن أفعالك قد تنتهك حقوق أي طرف ثالث أو خرق أي قانون معمول به أو تؤدي إلى أي
            مسؤولية تجاه المستخدمين الآخرين و / أو مشورة.
          </p>
          <p>
            ث‌- إذا خالف المستخدم الشروط أو الوثائق التي تتضمنها الاتفاقية بالمرجعية
          </p>
          <p>
            ج‌- يوافق المستخدم على أنه يجوز لنا في ظل ظروف معينة ودون إشعار مسبق، إنهاء تسجيلك و
            إمكانية وصولك إلى المنصة فورا. قد تشمل أسباب الإنهاء، على سبيل المثال لا الحصر، الإخلال
            بالشروط، أو طلبات التنفيذ أو الوكالات الحكومية، وعدم دفع رسوم لمشورة.
          </p>
          <p>
            <strong><u>21. الاستخدام الدولي</u><br /></strong>
          </p>
          <p>
            نحن لا نعتبر أي محتوى على هذه المنصة مناسب أو متاح للاستخدام في مواقع خارج المملكة
            العربية السعودية. إذا اخترت الدخول إلى هذا المنصة من موقع خارج المملكة العربية السعودية،
            فإنك تفعل ذلك بمبادرك، وأنت مسؤول عن الامتثال للقوانين المحلية.
          </p>
          <p>
            <strong>22. <u>الحق في الاستفسار</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            لمشورة الحق، ولكن ليس الالتزام، في التحقيق في الشكاوى ضد أي انتهاكات لهذه الشروط أو أي
            سياسة أخرى من المستخدم. إنك تقر وتوافق على أن تقوم مشورة بالتحكيم بالعمل وفقا لتقديرها
            الخاص للتحقيق في انتهاكات سياساتها. قد تؤدي الانتهاكات إلى إنهاء حسابك و / أو تعديل فوري
            للمعاملات المعنية.
          </p>
          <p>
            <strong>23. <u>الاتفاق الكامل</u>:</strong>
          </p>
          <p>
            تتضمن هذه الاتفاقية بالمرجعية اتفاقية الخدمة وسياسة الخصوصية وسياسة استخدام ملفات تعريف
            الارتباط التي تشكل مجتمعة مع هذه الاتفاقية الفهم الكامل بين الطرفين وتحل محل جميع
            البيانات السابقة والاتفاقيات والبيان والتفاهمات سواء شفهية أو كتابية.
          </p>
          <p>
            <strong>24. <u>علاقة الأطراف</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            تعتبر الأطراف متعاقدين مستقلين ولن يعتبر أي من موظفي أى طرف موظفا لدى الطرف الآخر لأي
            غرض من الأغراض. لا ينشئ هذا الاتفاق مشروعا مشتركا أو شراكة، ولا يتمتع أي من الطرفين
            بسلطة إلزام الطرف الآخر بأي طرف ثالث.
          </p>
          <p>
            <strong>25. <u>التعديل</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            لا يجوز لك تعديل أو التنازل عن أي حكم من أحكام هذه الاتفاقية ما لم يكن كتابيا وموقعا من
            كلا الطرفين.
          </p>
          <p>
            <strong>26. <u>التنازل</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            إذا أخفقنا في ممارسة أو إنفاذ أي حق أو حكم من هذه الشروط، فإنه لا يشكل تنازلا عن هذا
            الحق أو الحكم. نحن نحتفظ بالحق في ممارسة حقنا في أي وقت، حسب الحالة.
          </p>
          <p>
            <strong>27. <u>الامتثال للقوانين</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            عند استخدام خدماتنا، يجب عليك الالتزام بجميع القوانين واللوائح المعمول بها، ودون حصر،
            يجب عدم استخدام الخدمات (أو السماح باستخدامها) فيما يتعلق بأي مخطط أو غرض خداع.
          </p>
          <p>
            <strong>28. <u>إنفاذ القانون</u><u>:</u><br /></strong>
          </p>
          <p>
            أنت تفوضنا بتقديم أي معلومات أو الامتثال لأي طلب يتعلق بك أو حسابك الذي تطلبه أي حكومة
            أو محكمة . نحن لسنا ملزمين من هوية أو سلطة أي من هذه الحكومة أو المحكمة ، إذا ثبت لنا،
            بحسن نية، أنها مشروعة.
          </p>
          <p>
            <strong><u>29. ملاحظات:</u></strong
            ><u></u>
          </p>
          <p>
            يجب أن تكون جميع الإشعارات والاتصالات (بما في ذلك تلك المتعلقة بالتغييرات في البنود
            وسياسة الخصوصية وسياسة استخدام ملفات تعريف الارتباط، وإنهاء الخدمة، وما إلى ذلك) مكتوبة
            باللغة العربية، وتعتبر مسلمة إذا تم تسليمها شخصيا أو عن طريق المراسلة التجارية أو خدمة
            البريد السريع أو إرسالها بالبريد المسجل أو المعتمد (استلام الإرجاع مطلوب) أو إرسالها عبر
            البريد الإلكتروني / الفاكس (مع الإقرار بالإرسال الكامل) على
            &#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;&#8230;
          </p>
          <p>
            <strong><u>30. العناوين</u></strong>
          </p>
          <p>
            يتم تضمين العناوين والعناوين الفرعية هنا للملائمة والتعريف فقط وليس المقصود منها وصف أو
            تفسير أو تحديد أو تقييد نطاق أو مدى أو القصد من هذه الاتفاقية وشروط الخدمة / البنود
            والشروط أو الحق في استخدام المنصة من قبل طرف مدرج في القائمة أو أي قسم أو صفحات أخرى من
            المنصة أو أي مواقع مرتبطة بأي شكل من الأشكال.
          </p>
          <p>
            <strong>31. <u>استقلالية البنود</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            إذا تبين أن أي حكم من هذه الشروط والأحكام غير صالح أو غير قابل للتنفيذ كليا أو جزئيا،
            فإن هذا العجز أو عدم التنفيذ يجب أن يرفق فقط بهذا الحكم أو الجزء من هذا الحكم، والجزء
            المتبقي من هذا الحكم وجميع الأحكام الأخرى من هذه الشروط والأحكام تظل نافذة المفعول.
          </p>
          <p>
            <strong>32. <u>القانون الحاكم</u><u>:</u></strong
            ><strong><br /></strong>
          </p>
          <p>
            تخضع هذه الشروط بما في ذلك، من ضمن أمور أخرى، سياسات مثل سياسة الخصوصية وسياسة استخدام
            ملفات تعريف الارتباط، والوثائق التي يتم تضمينها عن طريق المرجعية والروابط، والتي يتم
            صياغتها وفقا لقوانين المملكة العربية السعودية دون الرجوع الى تعارض مبادئ القوانين .
            والنزاعات التي تنشأ في هذا الشأن ترجع الى الإختصاص الحصري لمحاكم الرياض ، المملكة
            العربية السعودية .
          </p>
          <p></p>
        </div>
      </div>
    </div>
  </section>
</div>
